[2015-07-04 18:05] vkbansal opened #1 "Menu goes outside when closer to edges."
![image](https://cloud.githubusercontent.com/assets/5930351/8508951/0ccf587c-22a5-11e5-8ea8-7c9ddfce2802.png)

Need to fix the display point calculation.

[2015-07-04 18:25] vkbansal commented on #1
http://stackoverflow.com/questions/1841124/find-the-potential-width-of-a-hidden-element

Possible solution
[code]

[2015-10-19 15:51] harobed opened #3 "Not compatible with react 0.14"
Not compatible with react 0.14 :

[code]

[2015-11-18 10:46] meikoudras commented on #3
It seems that Flummox (which is used as the Flux implementation here does not support React 0.14 at the moment and it is being deprecated entirely). I wrote a fork of this which uses the Alt Flux implementation (Seemed very similar to Flummox) and merged in the React 0.14 branch available here.

It seems to be working on React 0.14 and you can access it here:
https://github.com/meikoudras/react-co

[2015-11-18 12:14] vkbansal commented on #3
@meikoudras I initially started out with Alt but later decided to go with Flummox instead.

I know that flummox is deprecated. My plan was to migrate to Redux (As soon as I find some time).
But for time being if Alt works, then I have no problem with it. You are welcome to open a PR.

[2015-11-18 15:47] edgesoft opened #5 "Handlers in unbind"
I haven't tested the code but just looked at the source.

[code]

Shouldn't resize and scroll event remove? It's adds them in the unbind.

[2015-11-19 01:46] #5 closed

[2015-12-15 03:01] vkbansal commented on #3
Flummox has been updated for 0.14. I've released v0.3 with the update.

[2015-12-15 03:01] #3 closed

[2016-03-05 04:56] vkbansal commented on #1
fixed in #6

[2016-03-05 04:56] #1 closed

[2016-03-16 19:59] bramdevries opened #8 "Context menu contents depending on target"
I'm working on an application that makes extensive use of context-menu's.

We built a wrapper around `ContextMenu` so it fits our use-case. In some cases we want to display a different component or add an icon, ... All this works fine.

There is one component however that renders a tree, which contains a lot `<Node />` components. Each of these nodes can have different types, and depending on the

[2016-03-17 01:55] vkbansal commented on #8
So what you are asking is "How to render different items based on which `<Node/>` was (right) clicked" ??
Correct me if I'm wrong.

[2016-03-17 03:29] vkbansal commented on #8
I've added a `connect` helper in `v1.2`. You can have look at [multiple-targets example](https://github.com/vkbansal/react-contextmenu/blob/ce3e374770747914c984aa937861a6c5975adf9c/examples/multiple-targets/menu.js) and [demo](http://vkbansal.github.io/react-contextmenu/#/multiple-targets).

Let me know if this what you were looking for.

[2016-03-17 03:29] #8 closed

[2016-03-17 07:43] bramdevries commented on #8
Works nice, thanks for the quick response

[2016-03-23 15:51] dsemenovsky opened #9 "Breaks table markup"

[2016-03-23 17:29] vkbansal commented on #9
@dsemenovsky Can you please describe the problem in detail?

[2016-03-24 01:19] pgruenbacher commented on #9
I think I'm having this issue too.
Basically if a the contextMenuLayer is wrapping a table row or column, then it'd rendering a div element within the table which obviously breaks it.

[2016-03-24 01:21] pgruenbacher commented on #9
https://github.com/vkbansal/react-contextmenu/blob/master/src/contextmenu-layer.js#L59-L64

[2016-03-24 01:22] pgruenbacher commented on #9
one work-around I sometimes do is to let the user specify the element type in the props and then render it dynamically using React.createElement

[2016-03-24 18:17] vkbansal commented on #9
Fixed in v1.3.0

[2016-03-24 18:17] #9 closed

[2016-03-29 10:33] Xyfi opened #10 "Add typescript typings"
Would it be possible to write typescript typings and add them to DefinitelyTyped? I'm not yet confident enough with typescript to do it myself.

[2016-03-29 11:58] vkbansal commented on #10
@Xyfi I too am not familiar with typescript and its ecosystem.

It would be great if anyone could help me with it.

[2016-04-09 11:24] ewal opened #11 "Missing something obvious with renderTag"
I'm trying to override the renderTag prop with a table cell element.
This is how I do it but with no luck. What am I doing wrong?

export default ContextMenuLayer("identifier", (props) => {
		renderTag: 'td'
})(MyComponent);

[2016-04-09 12:41] vkbansal commented on #11
You must do the following.
[code]

[2016-04-10 07:16] ewal commented on #11
I'm trying to implement the context menu in a table where each table row (not td as I wrote in the initial post) has some actions on them but I can't find a easy solution to my problem. Whichever approach I use I end up with invalid html output.
I previously used the `0.2.1` version in another project and it worked well with table rows, no extra div wrapper rendered to the DOM.
What would be your

[2016-04-11 08:10] vkbansal commented on #11
I've updated readme and also added example usage (with demo).

[2016-04-11 08:10] #11 closed

[2016-04-26 19:06] hakima opened #12 "Add classes"
Hello,
is there a way to add classes to the MenuItem?

[2016-04-27 01:52] vkbansal commented on #12
Right now there is none. I'll look into it ASAP.

[2016-05-02 06:34] vkbansal commented on #12
You can now add custom classes in both `MenuItem` and `ContextMenuLayer` Components using `attributes` props (since v1.5.0)

[2016-05-02 06:34] #12 closed

[2016-05-10 09:37] willgates opened #14 "When context menu is showing, right click shows the browser's context menu"
Right click shows the context menu. When you right click again, it shows the browser's context menu. I would expect the context menu to move to where the second right click happened, instead of showing the brower's context menu.

![context-menu-right-click](https://cloud.githubusercontent.com/assets/11860584/15142006/edd6ada4-169a-11e6-93e4-b3d8263a2190.gif)

[2016-05-11 02:12] vkbansal commented on #14
That's how it is implemented. When you are right-clicking the second time, your are actually clicking on a transparent backdrop, which is used to detect an **outside** click.

May be I can treat a right-click also as an outside click.

[2016-05-13 22:42] vnguyen-ombud commented on #14
that would be awesome

[2016-05-24 16:00] rudin commented on #14
+1

[2016-05-24 22:09] ruanmer commented on #14
The following code disable the browser context menu and hide the currently active react context menu.

`import { monitor } from "react-contextmenu";

document.addEventListener('contextmenu', e => {
  e.preventDefault();

  monitor.hideMenu();
}, false);`

[2016-06-03 06:48] kitsanapong commented on #14
@ruanmer Thanks for workaround fix :+1:

[2016-06-06 23:36] jameslai opened #18 "Retrieving instance and/or state of target"
A frequent use-case I'm experiencing is the need to access the instance of the target being right-clicked. It appears react-contextmenu is so laser focused on proving data, it doesn't have a method to provide the instance of the react component being right-clicked. This is especially relevant when I would like to modify the state of the target.

Is there a plan to add this feature or have I missed

[2016-06-07 10:45] vkbansal commented on #18
Can you explain me your use case??

[2016-06-07 14:18] jameslai commented on #18
Absolutely. For example, I have an item in a list which, when double clicked, should enter a state to allow for editing the name of that item. Basically I swap out a `span` with an `input` for inline editing. The component's render method observes `this.state.editing`, and if set to `true`, renders the `input`.

When the item is double clicked, `onDoubleClick` calls a method (`startEditing`) on th

[2016-06-12 02:03] vkbansal commented on #14
Fixed in `v1.6.0`

[2016-06-12 02:03] #14 closed

[2016-06-16 20:21] ruanmer opened #19 "Cannot read property 'parentNode' of undefined"
I just updated to 1.6.0 version and this error pop out.

"Cannot read property 'parentNode' of undefined".

As I saw, its related to [this changes](https://github.com/vkbansal/react-contextmenu/commit/0e8ea32e2aa65b33ab9ed143a46fff40d2b0735a). **Line 41**

[2016-06-17 05:21] #19 closed

[2016-06-17 05:22] vkbansal commented on #19
Thanks for reporting

[2016-06-17 11:50] willgates opened #20 "Context menu doesn't show during test in PhantomJS"
My (previously successful) tests are now failing because the context menu isn't showing on right-click in PhantomJS. In [contextmenu-layer.js#L79-80](https://github.com/vkbansal/react-contextmenu/blob/master/src/contextmenu-layer.js#L79-80) `event.touches` doesn't exist when running these tests hence why they fail.

Could you please change to: `const xPos = event.clientX || (event.touches && event

[2016-06-17 14:13] vkbansal commented on #20
Can you open a PR?

[2016-06-17 17:12] #20 closed

[2016-07-04 14:12] maartenscholz commented on #18
+1

[2016-07-04 14:32] vkbansal commented on #18
Please checkout the changes in master branch and see simple menu example.

If it satisfies your needs, let me know.

[2016-07-10 15:06] valentinvichnal opened #22 "ES6 classes"
Hi, is this works with Components using ES6 classes?
I tried to make it work but it is hard to understand without an example.

Using the old React.createClass syntax again in new projects switched to es6 classes is not very elegant.

[2016-07-10 15:14] vkbansal commented on #22
Yes this will work irrespective of whether you use es6 classes or `React.createClass`.

Please see the examples folder

[2016-07-10 15:14] #22 closed

[2016-07-10 17:43] valentinvichnal commented on #22
First I tried to extend but `ContextMenuLayer("indentifier", (props) => props)(Component)` works fine!
Thanks, awesome project!

[2016-07-13 12:36] rhoman opened #23 "Different ContextMenu for children"
Hello,

Is this possible to define contextMenu for whole app container and different contextMenus for some of it's childrens?

For example, let's say I have structure like this (simplified to HTML):

[code]

and I'd like to have contextMenu for whole .container and different contextMenus if you click on any of .list elments.

Right now when I've defined different menus for both lists it works righ

[2016-07-13 12:51] vkbansal commented on #23
https://vkbansal.github.io/react-contextmenu/#/multiple-menus

see examples folder for implementation

[2016-07-13 13:07] rhoman commented on #23
I've follow the example and it works great for siblings. But When i try to use them for parent->children elements, it always displays parent menu (even when I click on children).

[2016-07-13 13:32] vkbansal commented on #23
Have you used different identifiers for the menus?

[2016-07-13 14:08] rhoman commented on #23
Yes I did

[2016-07-14 11:28] rhoman commented on #23
Could you please add demo with this example?

[2016-07-14 13:27] vkbansal commented on #23
I'm a bit occupied until weekend. Will have a look then

On 14 July 2016 at 16:58, rhoman <notifications@github.com> wrote:

--
Regards,
Vivek Kumar Bansal.

[2016-07-14 14:36] loki951753 opened #25 "how to change menu state"
now I have to change the menu when target props changed, like disable some MenuItem or something. What should I do?

Any response will be appreciated.

[2016-07-20 08:04] eromoe opened #26 "Right click not show contextmenu if another contextmenu opened"
As this example:
https://vkbansal.github.io/react-contextmenu/#/multiple-targets?_k=bq0lx9

Current:
1. right click banana , open banana  contextmenu
2. right click apple, close banana contextmenu
3. right click apple, open apple contextmenu

It is better:
1. right click banana , open banana  contextmenu
2. right click apple, close banana contextmenu and open apple contextmenu

[2016-07-26 07:37] rhoman commented on #23
Hi,

did you manage to take a look on this? :)

[2016-07-27 01:52] vkbansal commented on #23
Sorry I couldn't. I'm very busy with my day job.

[2016-08-02 03:16] alexmcmillan opened #28 "Dodgy examples?"
react-contextmenu version 1.6.2
react version 15.2.0

I could be wrong, but the examples in your readme appear.... invalid?

Rendering your example:

[code]

Generates the console error message (for me):

Perhaps this JSX should be wrapped in a `return (...)` ?

Also, according to [this line](https://github.com/vkbansal/react-contextmenu/blob/master/src/menu-item.js#L12), the `MenuItem` prop `data

[2016-08-02 05:12] vkbansal commented on #28
Have a look a examples folder

[2016-08-02 05:28] alexmcmillan commented on #28
I wasn't asking for help - I was just letting you know your documentation appears wrong.

[2016-08-02 05:33] vkbansal commented on #28
OK, Then can you open a PR with the Fix?

[2016-08-02 05:35] vkbansal commented on #28
Ignore. I'll fix it myself

[2016-08-02 05:35] #28 closed

[2016-08-02 05:48] alexmcmillan commented on #28
Yeah I actually forked and started fixing it but thought you'd have a better idea of example objects to pass as `data` etc.

Just FYI: your commit missed the first render in your example.

Glad I could help!

[2016-08-22 10:32] smancang commented on #26
yeah, I have the same question,I think it is better to open context menu when another is open. I've read the source code, I think the fixed Modal is not necessary.

[2016-08-22 11:16] vkbansal commented on #26
The fixed modal is required to detect outside click.

[2016-08-22 11:30] smancang commented on #26
Even you want to detect outside click, you don't need to add a modal. You can add event listener to the document.I think the structure of the library is not reasonable.The ContextMenuLayer method should be in the outmost component.The MenuItem component shoud be in the layer.Then when you right click on one target, it can detect all menu items and decide which one to hide and which one to show.

[2016-08-22 11:44] vkbansal commented on #26
I've played around with `document` level eventListeners, but I don't like the idea of having global event listeners and iterating from the event target upto the document and check whether the target is inside or not.

[2016-08-23 07:57] smancang commented on #26
The only goal is to implement that when one context menu is open and you right click on another one,it should close the previous one and open the current one. I have an idea, you can add a mousedown event listener to the modal,in the event function, you set the the modal's display style to 'none'.Then you need add a mouseup event listener to every ContextMenuLayer. As a result, when you right clic

[2016-09-07 13:35] alolis opened #30 "ContextMenu onShow() / onHide() callbacks"
Hello,

I am wondering if it's possible to have an `onShow` and an `onHide` callbacks passed to `ContextMenu` as props in a future release.

For example, in my case, I would like to be able to change the css class of the target which the ContextMenu showed and change it back after hiding it.

[2016-09-07 15:28] alolis commented on #30
Well, it seems that the following will do the trick for `onShow` alternative:

[code]

If there is a better way I am all ears.

[2016-09-08 06:15] vkbansal commented on #30
This is good idea. I keep this in mind for next release

[2016-09-08 09:13] alolis commented on #26
I was just about to post this issue as well and noticed that one already exists :)

It would definitely be nice to see this fixed.

[2016-09-09 11:06] alolis commented on #18
@jameslai , did you manage to solve this? can you please provide an example?

[2016-09-10 03:04] vkbansal commented on #18
I have not be able to solve this. Any help would be appreciated.

[2016-09-30 20:07] fronteed opened #32 "Hide context menu when window is resized"
## Version

1.2.0
## Steps to reproduce

Open context menu via right click, change window's size - context menu still visible, in the wrong place.
## Expected Behavior

Context menu should be hidden on window resize event.
## Actual Behavior

Appears visible in the wrong place.

[2016-10-01 02:04] vkbansal commented on #32
For now, you can handle this custom logic using `monitor.hideMenu()`

[2016-10-05 20:30] #18 closed

[2016-10-09 19:08] fronteed commented on #32
@vkbansal this should be handled without extra code

[2016-10-10 19:51] mreishus commented on #18
Hmm, I have the same problem, I'm about to add something to my redux store that says which item I'm renaming.  Don't really want to do this... :/

[2016-10-20 03:59] vinayrajp opened #33 "Multiple td's in customizing example"
Thank you for your work in creating this library.

This is more of a question than a bug report.  I am probably missing something simple but in the customization example, how will the MenuTarget class work if you wanna display multiple `<td>`s, since React requires you to return one element from the render function?

[2016-10-26 09:34] vkbansal commented on #32
I've released `v2.0.0-alpha.1` with this feature. Do check it out. Any feedback is welcome 😃

[2016-10-26 09:35] vkbansal commented on #18
I've released `v2.0.0-alpha.1` with this feature. Do check it out. Any feedback is welcome 😃

[2016-10-26 09:36] vkbansal commented on #23
I've released `v2.0.0-alpha.1`. Do check it out. Any feedback is welcome 😃

[2016-10-26 14:51] vkbansal commented on #30
I've released `v2.0.0-alpha.1` with this feature. Do check it out. Any feedback is welcome 😃

[2016-10-26 14:51] vkbansal commented on #26
I've released `v2.0.0-alpha.1` with this feature. Do check it out. Any feedback is welcome 😃

[2016-11-02 13:56] alolis commented on #30
@vkbansal , is my code supposed to work if i update to 2.x ?

[2016-11-02 14:01] vkbansal commented on #30
Not out of the box but check the changes:
https://github.com/vkbansal/react-contextmenu/releases/tag/v2.0.0-alpha.1

And updated Readme:
https://github.com/vkbansal/react-contextmenu/blob/v2/README.md

[2016-11-02 14:02] alolis commented on #30
@vkbansal , reading now. The example i linked though still uses `ContextMenuLayer` so it probably needs fixing.

[2016-11-02 17:00] vkbansal commented on #30
Fixed it. I was too lazy to update the component name. It should not be confusing now.

[2016-11-03 07:44] alolis commented on #30
@vkbansal , cool. I also used `onShow` and it seems to be working normally. I haven't found any problems at the moment so you can probably close this issue.

[2016-11-04 10:53] krebbl opened #36 "The npm example for v2-alpha is not working under FF 49 macOs"
## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2016-11-04 12:04] vkbansal commented on #36
I don't understand. Your example is incomplete.

[2016-11-04 12:05] vkbansal commented on #30
Cool

[2016-11-04 12:05] #30 closed

[2016-11-04 12:05] #26 closed

[2016-11-04 12:05] #32 closed

[2016-11-04 12:06] #23 closed

[2016-11-04 15:36] krebbl commented on #36
i can't explain why but right after the contextmenu event the click event is fired in FF. Which closes the context menu...

[2016-11-05 18:04] gaurav-quasar opened #38 "ContextMenu is always Open in v2.0.0-alpha.1"
## Version
1.2.0

## Test Case

## Steps to reproduce
Load the example provided.

## Expected Behavior
By default, context menu should be closed.
It should only open on right click on the trigger, context menu should close once clicked elsewhere.

## Actual Behavior
By default, context menu is visible.
Cannot be closed in anyway.
[index.txt](https://github.com/vkbansal/react-contextmenu/files/5734

[2016-11-06 04:08] vkbansal commented on #38
This package does not contain any styling by default. So have you added the styles? Also the classnames have changed from v1.

See [README](https://github.com/vkbansal/react-contextmenu/tree/v2#styling) for usage and [styles.css](https://github.com/vkbansal/react-contextmenu/blob/v2/examples/react-contextmenu.css) for example implementation

[2016-11-06 11:33] joonki34 opened #39 "Not working property when using with react-router"
Context menu is popping up at the left corner of the window when I go to the previous page and come back to the page where I right-clicked the view before. Here is the step I followed.

1. Go to the example page (https://vkbansal.github.io/react-contextmenu/#/?_k=u9aaao)
2. Click 'Multiple Targets' tab
3. Right click 'Banana' or another view.
4. Go back
5. Come back to the page

## Version
1.6.3

[2016-11-07 02:03] danielyaa5 opened #40 "Unexpected warning: Failed prop type: Required prop `onClick` was not specified in `MenuItem`"
OK so Im expected the onClick handlers in my context menu to fire but instead im getting the following warning and my simple onClick function doesnt work.

"Warning: Failed prop type: Required prop `onClick` was not specified in `MenuItem`"

Heres my code for the menu.

[code]

[2016-11-07 03:38] vkbansal commented on #39
Thanks for reporting. This has been fixed in v2

[2016-11-07 03:38] #39 closed

[2016-11-07 05:37] vkbansal commented on #40
Can you try it with v2?

https://github.com/vkbansal/react-contextmenu/tree/v2

[2016-11-08 01:44] #36 closed

[2016-11-15 03:40] philiphubbard opened #41 "V2.0.0-alpha.2 menus don't show on Safari"
With v2.0.0-alpha.2 running in Safari (Version 9.0.3) on OS X (Version 10.11.3), a right click on a target does not produce any visible menu.  This problem is easily reproducible with any of the examples included in this project.  Earlier versions, like v1.6.2, do not have this problem, nor does v2.0.0-alpha.2 running on Chrome (Version 54.0.2840.71).

[2016-11-15 14:52] philiphubbard opened #43 "Cannot trigger menu and choose item with mousedown/mousemove/mouseup sequence"
With a native context menu, it is possible to trigger the menu and choose an item from it with one fluid sequence of pressing the mouse, keeping it held down while moving to the desired item, and releasing the mouse over that item.  With react-contextmenu, this behavior is not supported: it is necessary to click once to trigger the menu, then click again to choose an item from that menu.

[2016-11-16 02:57] vkbansal commented on #43
Thanks for opening the issue.

To be clear, I'm not trying to replicate the exact behaviour of a native contextmenu.

Moreover, implementing such behaviour will be a nightmare (using JS). Many people use this component on touch-based devices so what you suggest may not work out for them.

[2016-11-16 02:57] #43 closed

[2016-11-16 02:57] vkbansal commented on #41
Will check this out

[2016-11-16 14:26] alolis commented on #41
I tried out as well and it works normally under Safari `Version 10.0 (11602.1.50.0.10)`

[2016-11-16 14:28] vkbansal commented on #40
Closing due to no activity. Feel free to open, if you still face the issue

[2016-11-16 14:28] #40 closed

[2016-11-16 14:28] vkbansal commented on #38
Closing due to no activity. Feel free to open, if you still face the issue

[2016-11-16 14:30] #38 closed

[2016-11-16 14:39] yotamberk commented on #38
I must agree that it's weird there is no default css. I understand you give the freedom to use any css but it looks like a bug. It took me a while to realize everything was working properly...

[2016-11-16 14:47] eladmoshe commented on #38
Hah, I accidentally also stumbled upon this exact issue just 2 minutes after @yotamberk. Totally understand the logic @vkbansal , but since there is no live example (e.g. github pages) user who wants to just see it in action doesn't necessarily understands he needs the css.

[2016-11-16 14:49] vkbansal commented on #38
@yotamberk I've update the README to be more explicit.

@eladmoshe https://vkbansal.github.io/react-contextmenu. It is right at the top!

[2016-11-16 14:57] vkbansal commented on #38
The reason I do not include styles by default is because everyone has their own preference of hiding/showing elements:

- Some use `display:none` or `visibility: hidden` but others don't, as it causes reflows and repaints.
- Some use `opacity: 0` and `pointer-events: none`. But it does not work on IE.

I can't satisfy everyone. So I let them choose what ever they want.

[2016-11-16 15:14] vkbansal commented on #25
Sorry for no response. I hope you have solved this issue. Closing this for now.

Please feel free to reopen if you haven't

[2016-11-16 15:14] #25 closed

[2016-11-16 15:15] vkbansal commented on #33
Sorry for no response. Did you find your answer?

[2016-11-16 15:17] eladmoshe commented on #38
@vkbansal totally missed the link, thanks! I think many might skip it as well since it is just a link. Maybe prefixing the link with something like "See live example:". Totally agree with your approach regarding customization. Sweet project!

[2016-11-16 20:48] yotamberk opened #44 "Support Right to Left contextmenus"
Is there an easy way to make the contextmenus open rtl?
For example, when using the SubMenu, it always opens to the right (unless close to the end of the page) and I'd like it to always open to the left unless close to the left side of the end of the page.

[2016-11-18 02:23] vkbansal commented on #44
This can be done. I'll have to look into it.

[2016-11-21 12:58] akosyakov commented on #10
@Xyfi Do you have already d.ts file to share?

[2016-11-21 13:03] Xyfi commented on #10
Wow, that's a long time ago :). I'm sorry, but I moved on to another project since then, and am no longer using react-contextmenu.

[2016-11-21 13:34] Elioravr opened #45 "Position and width of the context menu"
I'm trying to customize the design of the context menu when it gets to the sides of the screen. Currently what's happening is that the menu shrinks (it's width get smaller and the text gets down):

Here is what it looks like when the position is ok:
![screen shot 2016-11-21 at 15 27 03](https://cloud.githubusercontent.com/assets/1877192/20484254/05d030c6-afff-11e6-9059-42971279f870.png)
Here is wh

[2016-11-21 18:45] bluejamesbond opened #46 "How to programmatically open context menu?"

[2016-11-22 02:44] vkbansal commented on #45
Can you share the CSS code?

[2016-11-22 02:45] vkbansal commented on #46
Which version are you using?

[2016-11-22 02:53] bluejamesbond commented on #46
Latest

[2016-11-22 07:27] vkbansal commented on #46
`2.0.0-aplha-x`?

[2016-11-22 07:28] bluejamesbond commented on #46
What is the function?

[2016-11-22 07:29] #41 closed

[2016-11-22 07:29] #33 closed

[2016-11-22 07:35] vkbansal commented on #46
You can do as follows:

[code]

[2016-11-22 07:36] bluejamesbond commented on #46
Perfect. Thanks!

[2016-11-22 09:00] #46 closed

[2016-11-22 09:25] Elioravr commented on #45
That's the thing.. I added no css referring the position or the width..

Here is the relevant css:

[code]

[2016-11-22 10:26] smancang opened #47 "why does it show up the context-menu when long time left click?"
## Version
2.0.0-alpha.2

## Test Case

## Steps to reproduce
press the left mouse button on the element and don't loosen it for 1s.
## Expected Behavior
nothing happened
## Actual Behavior
the context menu shows up

The code is in ContextMenuTrigger.js
`
    return _ret = (_temp = (_this = _possibleConstructorReturn(this, (_ref = ContextMenuTrigger.__proto__
......

        _this.mouseDown = true

[2016-11-24 15:22] Elioravr commented on #45
Hey, I solved it. the problem was that the contextmenu was hidden by `display: none` and then was shown by `display: block`. It doesn't work this way.
The right way to hide and show the contextmenu is to use `visibility: hidden` and `visibility: visible`. It worked for me. 😄

[2016-11-24 15:23] #45 closed

[2016-11-25 06:11] vkbansal commented on #45
Glad that you were able to solve it

[2016-11-25 06:12] vkbansal commented on #47
The actual source code is in `src` folder.

[2016-11-25 06:59] smancang commented on #47
I've known it.
`javascript

handleMouseDown = (event) => {
        if (this.props.holdToDisplay >= 0 && event.button === 0) {
            event.persist();

            this.mouseDown = true;
            setTimeout(() => {
                if (this.mouseDown) this.handleContextClick(event);
            }, this.props.holdToDisplay);
        }
    }
`
But you have't answer the question yet. It's under

[2016-11-25 10:25] fjoliot commented on #41
Hello,
I tried it out on Safari 9.1.2 (OS X El Capitan 10.11.6) and the bug is present. The error I get in Safari's developer console when I try your simple menu demo
is the following one :

![capture d ecran 2016-11-25 a 11 20 45](https://cloud.githubusercontent.com/assets/23737717/20622156/ce42ecba-b301-11e6-9d40-f60966c1d91e.png)

Thanks a lot for your help

[2016-11-28 21:18] darshanmodani opened #50 "Left Click Menu"
Can we put a configuration for left click or right click to `ContextMenuTrigger` so that contextmenu can also be invoked with left click ?

[2016-11-29 05:36] vkbansal commented on #50
The main use of a context-menu menu is on right/context click. I believe that it is not a good idea to deviate from that.

You can use **dropdowns** if you want to show a menu on left click.

[2016-11-29 05:36] #50 closed

[2016-11-29 05:38] vkbansal commented on #47
For browser that do not support touch event.

[2016-11-29 10:49] nish1013 opened #51 "Can we use this with SVG paths ?"

[2016-11-29 10:58] vkbansal commented on #51
You can use anything that can be used with react.

[2016-11-29 11:03] nish1013 commented on #51
`<path
          id={link.id}
          key={ind}
          d={d}
          style={lineStyle}
          strokeWidth={2}
          />`

We're unable to provide a target for above as it'll draw on a   <SVGCanvas>.

We need to show the context menu when click on <path> elements

[2016-11-29 11:07] nish1013 commented on #51
We can get callback when click on a `<path>` using below code ,

[code]

But how do we bring the context menu from that callback ?

[2016-11-30 11:16] smancang commented on #47
I don't think you solve a problem, but create a problem. What should I do when I drag an element and just left click the element for long time? Do you think it is appropriate to show context menu in these situations?

[2016-12-01 09:44] janryWang opened #52 "When I was dragging somthing,right-click will triggered!"
## Version
2.0.0-alpha.2

## Test Case
http://jsbin.com/lixucamice/1/edit?js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2016-12-01 09:49] janryWang commented on #52
This problem does not always occur, it only occasionally appears

[2016-12-02 13:11] vkbansal commented on #52
duplicate of #47

[2016-12-02 13:11] #52 closed

[2016-12-05 15:27] aurels opened #54 "Disabling `ContextMenuLayer` based on props"
Hi.

We call the "higher order function" `ContextMenuLayer` like this :

    export default ContextMenuLayer('albums-list')(Results)

In our app, we would like to have the context menu setup only in certain conditions (let's say according to `this.props.contextMenusEnabled`). Is there another way to call `ContextMenuLayer` in order to have conditions around ? In `render`?

Thanks !

[2016-12-07 07:41] whathejoe commented on #47
For anyone curious how to disable the long press trigger just set a negative holdToDisplay value

`<ContextMenuTrigger id={*id*} holdToDisplay={-1}`

Not defining a value for that prop will have it default to 1000

[2016-12-07 08:39] vkbansal commented on #47
Thanks a lot @whathejoe !!!

Will definitely at this to README.

[2016-12-07 08:39] #47 closed

[2016-12-07 08:57] vkbansal commented on #54
Hi, as I understand, you are using 1.x version.

I've rolled out 2.0 and what you ask is pretty easy to achieve in that version.

I've no plans to maintain 1.x, so check if you can upgrade? If not let me know. We'll figure out a solution

[2016-12-07 09:00] vkbansal commented on #51
have you tried using `renderTag='path'` prop on the wrapped component?

[2016-12-07 09:27] aurels commented on #54
Hi,

Thanks for your reply.

I figured out a way to do it : one version of the component is wrapped into `ContextMenuLayer` and not the other, and I switch between the two.

In my case I have `Results` and `ResultsWithContextMenuLayer`, the second wrapping the other. And they therefore accept the same props.

Anyway, I'll have to switch to 2.0 in a near future then ;-) I hope most of it stays comp

[2016-12-07 09:27] #54 closed

[2016-12-07 09:28] vkbansal commented on #54
Glad that you were able to figure it out 😄

[2016-12-07 09:49] smancang opened #55 "it still shows up the context-menu when long time left click"
## Version
2.0.0-beta.1

## Test Case

## Steps to reproduce
press the left mouse button on the element and don't loosen it for 1s.

## Expected Behavior
nothing happened
## Actual Behavior
the context menu shows up

It's the same with the closed [#47](https://github.com/vkbansal/react-contextmenu/issues/47).
The problem hasn't been solved yet!

[2016-12-07 09:53] whathejoe commented on #55
https://github.com/vkbansal/react-contextmenu/issues/47#issuecomment-265378129

[2016-12-07 10:00] smancang commented on #55
I'm sorry, I haven't see the comment.

[2016-12-07 10:00] #55 closed

[2016-12-07 10:18] vkbansal commented on #55
I have also added to readme

[2016-12-08 02:22] savovs opened #56 "Usage with server-side rendering?"
Hi guys, having an issue with server-side rendering where window isn't defined, when I import the package like this: `import { ContextMenu, MenuItem, ContextMenuTrigger } from 'react-contextmenu';`

I get this error:
[code]

It makes perfect sense because there's nothing to attach the listener to, because window isn't defined on the server. Not sure how to fix this though.

[2016-12-08 03:05] vkbansal commented on #56
Thanks for raising the issue. The source code needs to be fixed for this. I'll do it ASAP.

[2016-12-08 03:41] savovs commented on #56
No worries, this is an awesome repo!

[2016-12-09 21:03] barbalex commented on #18
@vkbansal: as it is not explained in the readme: could you please explain how it is possible to access the element that was right clicked?

[2016-12-09 21:06] barbalex commented on #18
@vkbansal sorry - I did not read the readme well enough - it _IS_ explained

[2016-12-12 02:47] vkbansal commented on #56
published `v2.0.0-beta.2` with the fix.

[2016-12-12 02:47] #56 closed

[2016-12-14 08:21] smancang opened #57 "The IE 11 browser doesn't recognize the syntax a: { c, d }"
## Version
2.0.0-beta.1

## Test Case

## Steps to reproduce
run an web site in IE 11

## Expected Behavior
normal

## Actual Behavior
occur an error:
in ContextMenuTrigger.js

...
(0, _actions.showMenu)({
        position: { x, y },
...

The IE 11 doesn't recognize the syntax "position: { x, y }"

[2016-12-14 10:13] Warcrea opened #58 "IE11 - Unable to get property 'id' of undefined or null reference"
## Version
2.0.0-beta.2

## Steps to reproduce
Right click on a contextMenuTrigger area in IE11.

## Expected Behavior
Context menu is displayed succesfully as it is in Chrome and Firefox.

## Actual Behavior
Throws error: Unable to get property 'id' of undefined or null reference

Referring to this line:
_this.handleShow = function (e) {
            if (e.detail.id !== _this.props.id) return;

[2016-12-14 12:35] vkbansal commented on #57
Ideally Babel should transpile the code. I'll have a look

[2016-12-14 12:39] vkbansal commented on #58
You tried to open example site?

[2016-12-14 15:06] Warcrea commented on #58
Yep

![contextmenu-idbug](https://cloud.githubusercontent.com/assets/9248826/21187142/dc42a1fe-c20e-11e6-8502-4db20a9e2ea3.png)

[2016-12-14 15:08] Warcrea commented on #58
My mistake, the version is 2.0.0-beta.2

[2016-12-15 01:55] vkbansal commented on #57
Where are you getting this error? locally or on hosted examples?

[2016-12-15 02:16] vkbansal commented on #58
This should be fixed in latest master.

Can you take a pull and check?

I'll publish new version after confirmation

[2016-12-19 04:01] xiguaaxigua opened #60 "Long press will trigger the context menu"
Hi man,
Long press will trigger the context menu.

[2016-12-19 05:27] vkbansal commented on #60
Please take a look at readme thoroughly before reporting issues

**props.holdToDisplay**

Type: Number (optional)

Default: 1000

This is applicable only for touch screens. The time (in ms) for which, user has to hold down his/her finger before the menu is shown.

[2016-12-19 05:27] #60 closed

[2016-12-19 05:28] #58 closed

[2016-12-19 05:29] vkbansal commented on #57
unable to reproduce.

[2016-12-19 05:29] #57 closed

[2016-12-19 09:43] Warcrea commented on #58
Confirm this works now, thanks very much!

[2016-12-19 14:46] skipjack opened #61 "handleOutsideClick bug"
## Version
2.0.0-alpha.2

## Test Case
Unfortunately I can't do this now but if it would be helpful I can try to throw an example together soon.

## Steps to reproduce
1. Use a Link within a ContextMenu.
2. Open the ContextMenu and navigate through the Link.
3. Click anywhere in the document and see the error that continues to be thrown.

## Expected Behavior
Component should remove `handleOutside

[2016-12-19 21:42] gravitypersists opened #62 "Compatibility with CSS-in-JS libs: Don't render context menu when it is not visible"
[Currently](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L44), when the `ContextMenu`'s state swaps out to `isVisible`: false, the class `react-contextmenu--visible` is added to the `<nav>` child rendered by `ContextMenu`.

This means, without css on the page, it is impossible to hide the context menu. It creates a dependency which would be better circumvented if it

[2016-12-20 00:24] gravitypersists opened #63 "In MenuItem, pass className along to same element with onClick handler"
[Currently](https://github.com/vkbansal/react-contextmenu/blob/master/src/MenuItem.js#L40),

[code]

You can pass `MenuItem` a prop `attributes` with classNames on it, but this is not the element with the `onClick` handler, it's child, an `<a>` tag is. **This is the main reason I use this component, really, because it knows how to close the** `ContextMenu` (which might be argument for adding `.clo

[2016-12-21 13:43] charlie-rudenstal opened #65 "Passing props from trigger to component rendering ContextMenu"
Props for the rewrite, the API looks way cleaner are more thought-through. Thanks for all your work.

In the previous version, using `connectMenuLayer` and `connect`, it was possible to pass on props from the element triggering the context menu, to the component rendering it. I used this to customize the menu depending on which trigger was clicked.

Example from 1.x.x:

SomeComponent.js:
[code]

M

[2016-12-22 03:48] vkbansal commented on #62
I've have not use any CSS-in-JS libs yet. So, I will have to think through it.

[2016-12-22 03:50] vkbansal commented on #61
Which Browser and OS are you using?

[2016-12-22 03:51] vkbansal commented on #65
Sorry, but I was not able to understand whether you solved the issue yourself or still have a problem?

[2016-12-22 03:53] skipjack commented on #61
Mac OS 10.10.5, Chrome 54.0.2840.98

[2016-12-22 03:55] vkbansal commented on #61
Thanks, I'll try to debug it. It would be really helpful you can give me some example where this is happening.

[2016-12-22 03:57] skipjack commented on #61
@vkbansal great thank you, I'll try to get a something together that demos the problem.

[2016-12-22 10:36] charlie-rudenstal commented on #65
@vkbansal The workaround works by using `collect` and `onShow` to get hold of the props passed by the trigger0. It's still not as convenient as the previous `connect` method, since I will have to use `setState` or similar as a response to onShow.

I am considering to create my own higher-order-function that would subscribe to `GlobalEventListener` and provide the props to `Menu.js` (from the examp

[2016-12-22 12:34] charlie-rudenstal commented on #65
I ended up creating a higher-order-function that looks like this:
https://gist.github.com/charlie-rudenstal/3d5062f911da467b525d6040200334bd

Please let me know if you'd accept a PR with something similar. It would be great to have official support for it.

[2016-12-22 14:44] skipjack commented on #61
@vkbansal here's a [webpack bin](http://www.webpackbin.com/EJf2V044G) that demos the issue:

![image](https://cloud.githubusercontent.com/assets/8988697/21429041/0c9bf270-c82b-11e6-9e64-bfdd5d734ea5.png)

Steps to reproduce:

1. Navigate to the second page
2. Right click the text that says right click
3. Navigate back to home
4. Click anywhere to see the error

[2016-12-22 18:59] gravitypersists commented on #62
Here's a great comparison of the different techniques, but there's also some links down below with some motivations behind doing it.

https://github.com/MicheleBertoli/css-in-js

The biggest thing is that you don't create build dependencies on users using your library. That would include enforcing css be pre-existing on the page. But like I mentioned, this library doesn't call for much styling at

[2016-12-23 02:29] vkbansal commented on #62
Cool, I'll take a look.

[2016-12-23 02:36] vkbansal commented on #61
I got the root cause of the issue! Thanks

[2016-12-23 02:38] vkbansal commented on #65
Thats really great. Let me try something else that I have in my mind.

If I'm unsuccessful, I let you know.

PRs are always welcome!

[2016-12-24 02:37] #61 closed

[2016-12-24 02:46] vkbansal commented on #62
I cannot simply "not render" the context-menu. The reason why context-menu is always rendered is that I need its dimensions to calculate its position before hand.

What I can do is add opacity toggle. That should work for everyone.

[2016-12-24 08:09] #44 closed

[2016-12-24 10:35] #63 closed

[2016-12-29 04:58] rakshans1 opened #66 "How to generate dynamic submenus"

[2016-12-29 05:12] vkbansal commented on #66
Can you be more descriptive and proved a use case and/or an example?

Else I'll have to close this issue

[2016-12-29 05:19] rakshans1 commented on #66
I want to create Folder move submenus which will fetch submenu from server while user hover on menu

`<SubMenu title='Another SubMenu'>
  //Load from api here and create another submenu on hover
</SubMenu>`

[2016-12-29 07:28] whathejoe commented on #66
Use short-circuit evaluation.

[code]
where `flag` is an indicator that you have what you need from the server

[2016-12-30 19:52] yotamberk commented on #44
@vkbansal Thanks!

[2017-01-07 12:57] josuehtml opened #67 "¿Hello, how trigger the menu in left click?"
## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-01-07 13:01] #67 closed

[2017-01-11 10:49] jaredsohn opened #68 "Customize submenu widths, margins"
Is there a way to change the width for each submenu? Also, can I set margins separately per submenu? (I know I can manually add to the margin for individual items but I haven't figured out a way to set a margin to submenu titles.

I've looked through the CSS and the source and haven't found a way thus far (without forking the code.)

[2017-01-11 13:03] vkbansal commented on #68
Can you provide some examples like code and/or screenshots?

[2017-01-12 04:29] jaredsohn commented on #68
I have included a screenshot below.

I would like the 'Change category' submenu text to line up with the 'Open site' text that appears after the image and I also want the colors in the submenu to be at the left edge of the window (ideally with `margin-left` of 0px, although it set to 5px right now so that 'change category' isn't at the very edge.)

If I set `margin-left` to 15px or so, then I can

[2017-01-14 15:00] vkbansal commented on #68
Which version are you using?

[2017-01-14 19:43] jaredsohn commented on #68
I am running 2.0.0-beta.2.

[2017-01-15 04:28] #62 closed

[2017-01-15 04:48] vkbansal commented on #68
By default, I include very minimalistic styling, so that you can style the components any way you like. You should be easily able to do what you want.

If you need help with CSS, please provide example code so that I can re-create the menu and may help you.

[2017-01-15 06:20] jaredsohn commented on #68
I have been able to style things as I want for each submenu individually but I haven't found a way to style it such that it shows each of the submenus in the way that I want all at once.

I think that I need something like a theoretical "content selector" (http://stackoverflow.com/questions/1520429/is-there-a-css-selector-for-elements-containing-certain-text) so that I can indicate which submenu I

[2017-01-15 06:33] vkbansal commented on #68
You can use `props.attributes` on `MenuItem' to pass any `className` you want.
Also, you can use [classnames](https://www.npmjs.com/package/classnames) to add classes based on the text you need.

[2017-01-15 06:50] jaredsohn commented on #68
I want to pass a className to a SubMenu instead of to a MenuItem.

[2017-01-15 07:07] vkbansal commented on #68
Cool, I'll add the ability

[2017-01-15 07:12] jaredsohn commented on #68
Great; thanks!

[2017-01-15 07:37] vkbansal commented on #68
I've made the changes:
https://github.com/vkbansal/react-contextmenu/commit/98019d5ec90fd1e554b99e8a1e9b214f916389a4

Let me know if this works for you.

[2017-01-15 08:47] jaredsohn commented on #68
Thanks; I am taking a look.

[2017-01-15 09:27] jaredsohn commented on #68
FWIW, the changes from f16ce5b7e21c3f1d7995fc09f2f336fbf44a1502 messed up my styles a bunch (I see a text cursor instead of a pointer and my row heights are wrong.) I'm able control widths separately for submenus so far and over the next day I'll check if it works for margins as I fix up my styles.

[2017-01-15 10:24] jaredsohn commented on #68
All done. This works for me; thanks!

[2017-01-28 03:04] ekatebi opened #70 "left click trigger"
Is there a way to bring up the context menu by left mouse click?

-ed

## Version
2.0.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-01-28 18:29] vkbansal commented on #70
duplicate of #50

[2017-01-28 18:29] #70 closed

[2017-02-02 23:17] barbalex commented on #65
@charlie-rudenstal
I tried your first solution but `e.detail.data` in the onShow function is always false for me.
The props I passed to ContextMenuTrigger do not turn up.
What could I be missing?

[2017-02-02 23:24] barbalex commented on #65
@charlie-rudenstal
oh, I just noticed that `collect={props => props}` needs to be added to `ContextMenu` _and_ `ContextMenuTrigger` for it to work.
Thanks for your solution!

[2017-02-06 17:03] stevenmusumeche opened #71 ""shouldTrigger" prop?"
Hello, and thank you for this wonderful package.  I am building an application where I only want to enable the context menu when certain conditions are met (for example, some value in state is true).

Is there a way to pass a prop to `ContextMenuTrigger` to make it ignore right clicks and display the default browser context menu when a prop like `shouldTrigger` is false?

I am able to conditionall

[2017-02-07 02:15] #68 closed

[2017-02-07 15:01] #71 closed

[2017-02-07 16:46] stevenmusumeche commented on #71
wow @vkbansal, that was fast  Thank you so much! Do you have an idea of when this will be included in a release on npm?

[2017-02-08 02:34] vkbansal commented on #71
Most probably by the weekend.

[2017-02-08 18:28] jaredsohn opened #72 "Change CSS for trigger when context menu is shown"
I have a list of data and create a context menu for each row. I want to be able to highlight the row associated withthe currently displayed context menu. Is there a way to do this?

I think I want something like a `react-contextmenu-wrapper-active` class.

[2017-02-14 08:30] greggman opened #76 "Trigger menu from JavaScript"
Sorry if this is a dumb question.

In any case is there a recommended way to show the menus from JavaScript myself?

It doesn't appear that `showMenu` and `hideMenu` are exported from `index.js`

It seems strange to use `<ContextMenuTrigger>` when contextmenu is an event. Would you make a `<Click>` component for left mouse clicks and ` <MouseMove>` component for mouse move events?

[2017-02-14 09:08] whathejoe commented on #76
Try this solution

https://github.com/vkbansal/react-contextmenu/issues/46#issuecomment-262168214

[2017-02-14 09:27] greggman commented on #76
thanks

[2017-02-14 09:28] #76 closed

[2017-02-14 09:30] greggman commented on #46
Any reason not to make this officially supported? It seems like it would be really useful to be able to use `oncontextmenu` to make the menus appear.

[2017-02-14 09:39] vkbansal commented on #76
The main `<ContextMenuTrigger>` exists because, it takes care of the custom logic like passing props to `<ContextMenu>` is handled automatically.

Tomorrow, for some unforeseen reason, if I decide to switch the internal implementation, the user must not have to take the burden of updating their `oncontextmenu` manually.

Hope this answers your query.

[2017-02-14 09:40] vkbansal commented on #46
It is not officially supported because, much  of the custom logic like passing props to `ContextMenu` is handled automatically.

[2017-02-14 13:37] greggman commented on #76
I see your point, and for a generic simple context menu that might make sense.

Imagine you're making something similar to Picasa or Windows Explorer or the OSX File Manager or iPhoto. It makes no sense to mark up every file or thumbnail, 1000s of them, with a `<ContextMenuTrigger>`  Elements should have something more to do with how that element displays. Following this library's pattern if other

[2017-02-14 14:24] vkbansal commented on #76
`ContextMenuTrigger` has ` attributes` props, which are directly passed to the root element. So you can pass `onClick` and other things directly.

If you have had seen the [src of `ContexMenuTrigger`](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js), you would have know that it encapsulates a lot of logic for handling touch events, which otherwise you would have

[2017-02-14 14:57] greggman commented on #76
Sorry I tried to be helpful.

[2017-02-14 15:13] vkbansal commented on #76
I'm sorry if I have offended you in anyway.

But instead of criticizing, you can been more helpful by actually putting a solution to it and opening a PR.

[2017-02-14 15:20] vkbansal commented on #71
I've released v2.2.0 with this change. Happy Coding!

[2017-02-14 20:04] ragnarok56 opened #77 "webpack 2 resolves to es6, requires further transpilation"
## Version
2.2.0

Using webpack 2

webpack.config.babel.js
[code]

index.js
[code]

[code]

For importing dependencies, webpack 2 uses [mainfields](https://webpack.js.org/configuration/resolve/#resolve-mainfields) to determine what to load.  The  default precedence is 'browser', then 'module', then 'main'.  Since there is no 'browser' field, it will load the non-transpiled es6 version, but doesn't

[2017-02-14 20:08] Kimahriman commented on #77
The best justification for this can be found [here](https://github.com/rollup/rollup/wiki/pkg.module): "pkg.module will point to a module that has ES2015 module syntax but otherwise only syntax features that node supports."

"If you're using things like arrow functions and classes (or more exotic features like decorators and object spread), you should transpile them if you want your library to wor

[2017-02-15 02:51] vkbansal commented on #77
My bad. I had wrong understanding of how the "module" works. I was under the impression that people will manually transpile es6 modules. I was wrong. Will fix it ASAP.

[2017-02-15 03:06] vkbansal commented on #77
I have published v2.2.1 with the fix. Please reopen the issue if you still face the problem.

[2017-02-15 03:06] #77 closed

[2017-02-15 03:30] ragnarok56 commented on #77
awesome, that fixes it.  thanks!  we spent some time trying to see if it was on our end, since we just updated to webpack 2 today.  it's not really spelled out how to setup `module`, so completely understandable

[2017-02-15 14:54] stevenmusumeche commented on #71
thank you!

[2017-02-17 15:40] garetmckinley opened #78 "onHide is being triggered when contextmenu is opened"
## Description

The `onHide` event is triggered when the contextmenu opens and closes.

## Reproduction

http://www.webpackbin.com/4k70v-eYf

[2017-02-17 15:50] vkbansal commented on #78
Thanks for reporting. I'll take a look.

[2017-02-18 17:59] vkbansal commented on #78
I've fixed it in 	2ffca3c

[2017-02-19 15:28] garetmckinley commented on #78
Awesome! How soon are you expecting to have a release with this fix in it?

[2017-02-20 02:00] vkbansal commented on #78
I'll make a patch release within couple of days

[2017-02-20 02:00] #78 closed

[2017-02-24 18:50] vkbansal commented on #78
released v2.3.0

[2017-02-25 01:49] garetmckinley commented on #78
Awesome 🙌

[2017-02-26 22:55] valentinvichnal opened #82 "Bug with multiple ContextMenu"
Hi, great library!
If I use it on a single component it works well, but when I try to give this context for many components based on an array, it won't work.

If I try
`<ContextMenu id='menu-delete'`
for every component it will show the context menu on click in the right place, but
the onClick inside the MenuItem never gets called.
After I tried to use unique id for all:
`<ContextMenu id={'menu-de

[2017-02-27 06:00] jaredsohn commented on #72
This was fixed by creating an extra event listener and binding it with a key of the row.

[2017-02-27 06:00] #72 closed

[2017-03-08 21:24] CarstenWickner commented on #65
@vkbansal are you still considering "something else that [you] have in mind", or would now be the time to create a PR with an approach similar to @charlie-rudenstal's?

[2017-03-09 02:58] vkbansal commented on #65
@CarstenWickner Thanks for the reminder. I was caught up in other things.

I'll accept a PR if @charlie-rudenstal is still interested in creating one or you can.

[2017-03-20 23:14] iliastsangaris opened #87 "Feature request: Make component more agnostic"
I like this project and am considering forking it to implement a feature request, but wanted to document the request first.

It would be great to have `ContextMenu` be more of generic `Menu` component with the option for it to become a context menu via a prop passed to the trigger component.

Something along the lines of `<MenuTrigger context={true} />`.

Thanks for the project!

[2017-03-21 03:00] vkbansal commented on #87
I've got similar requests in past.

Let me explain my point of view:

The definition of a context-menu (AFAIK) is a menu that opens on right-click.
If we make this a generic menu, then:
1. It will break existing user code.
2. Project might have to be renamed. (I'm not comfortable with this option).

I do not understand the use case for opening a menu on left click. For such cases, I prefer using s

[2017-03-21 15:58] MladenKobiljski commented on #82
Same error here. I tried to add context menu to each component rendered in a list. List items are members of an array each reached by map method. When I add context menu to each component in a scrollable list, it is displayed properly, but the on click event never gets triggered. I managed to get to the click event by using <li> or <p> tags inside <MenuItem> tags and calling onMouseDown event. Onl

[2017-03-22 07:29] yeze322 commented on #82
Seems your `items` is sharing one `<ContextMenu>` instance. I create an `<ContextMenu>` instance for each item and it works fine!

This is my code:

[code]

Hope it will solve your peoblem :)

[2017-03-22 09:52] vkbansal commented on #82
@yeze322 thanks for giving a work-around.

@MladenKobiljski I'll take a closer look at this issue later this week.

[2017-03-22 16:26] gregtatum opened #88 "Keyboard Shorcut Accessibility"
Would you accept a contribution for keyboard shortcuts? Arrow keys for navigation, and enter for selecting the item.

[2017-03-22 16:30] vkbansal commented on #88
PRs are always welcome!!

[2017-03-22 18:53] gregtatum commented on #88
Thanks! We're evaluating react-contextmenu for a project, and keyboard access is probably important. I'll re-open an issue if I start working on a PR.

[2017-03-22 18:53] #88 closed

[2017-03-24 14:06] danbovey commented on #87
I was thinking about writing this feature too but instead found that calling the method `handleContextClick` from the `ContextMenuTrigger` was enough flexibility to give the context menu other roles within my application.

For example, a button like this (http://i.imgur.com/5Qsu2yW.png) opens the context menu manually. It works in the same way a drag handle works for a draggable div - the button i

[2017-03-24 14:13] vkbansal commented on #87
@danbovey Can you create new FAQs section in Readme and document the same and open a PR?

[2017-03-24 20:49] danbovey commented on #87
^ Done. I'd suggest moving the FAQs to the Wiki, the README already feels extremely long for such a simple API.

Maybe, convert the props documentation into table format?

| Property    | Type    | Required? | Description                            |
|-------------|---------|-----------|----------------------------------------|
| id          | String  | ✓         | A unique identifier for a menu.

[2017-03-24 21:05] danbovey commented on #87
Table format PR'ed in #90 😄

[2017-03-24 21:21] #87 closed

[2017-03-25 03:53] #65 closed

[2017-03-25 10:12] kemperrr opened #91 "Force shutdown of the menu"
I would like to see the forced closing of the context menu

Example:
`import { hideMenu } from "react-contextmenu"`

[2017-03-25 10:38] vkbansal commented on #91
I can't understand your request. Can you explain it more clearly?

[2017-03-25 10:42] kemperrr commented on #91
I want to close the menu not by clicking the mouse button, but through the function

[2017-03-25 10:47] vkbansal commented on #91
This is not officially supported but you can

[code]

[2017-03-25 12:10] kemperrr commented on #91
In this case, there are errors
![image](https://cloud.githubusercontent.com/assets/10745678/24322046/b704fb56-118e-11e7-871f-bc64b06b3d18.png)

[2017-03-25 12:13] vkbansal commented on #91
Can you share the code that is causing this?

[2017-03-25 12:14] kemperrr commented on #91
ye
![image](https://cloud.githubusercontent.com/assets/10745678/24322074/42ac7e5e-118f-11e7-9c1b-b019f7e7fed3.png)

[2017-03-25 13:27] vkbansal commented on #91
Where have you mounted the `ContextMenu` or `ContextTrigger`?

[2017-03-25 13:32] kemperrr commented on #91
in "OrtherOne"

[2017-03-25 16:33] vkbansal opened #92 "Add ARIA attributes"
https://www.w3.org/TR/wai-aria-practices-1.1/#intro

- [x] add aria-attributes
- [x] add keyboard navigation

[2017-03-26 08:22] vkbansal commented on #91
Can you share a working piece of code? Something like a jsbin or gh-repo?

[2017-03-26 08:29] vkbansal commented on #82
@MladenKobiljski is your code similar to this example?
https://github.com/vkbansal/react-contextmenu/blob/master/examples/MultipleTargets.js

[2017-03-26 09:37] MladenKobiljski commented on #82
It is similar, and I managed to overcome an issue by adding dinamically unique id for each item in list.

[2017-03-26 11:40] #82 closed

[2017-03-26 11:42] #51 closed

[2017-03-26 11:43] #66 closed

[2017-03-26 14:33] kemperrr commented on #91
Alas, I can not do this

[2017-03-27 11:58] Seldaek commented on #91
@kemperrr your problem is that you are hiding the menu  while react renders, so it's not done rendering the open menu but you are already closing it.

I think it'd be better to do the check in the `componentDidUpdate` lifecycle method. You probably want something like that in there:

[code]

[2017-03-27 12:25] Seldaek opened #94 "Tooltip use case"
Hey, I needed a tooltip component and after trying react-tooltip we settled on "abusing" react-contextmenu for tooltips, because it works way better when you need a large set of tooltips. React-tooltip forced us to have an instance of the tooltip in the dom for every tooltip, while with this lib we can only have one instance of the tooltip that is updated/rendered using the needed info on demand.

[2017-03-27 13:08] vkbansal commented on #94
I could not have even imagined that one could do this. Awesome! I could add this to readme.

`Tooltip` closely resembles `ContextMenuTrigger`.

[2017-03-27 13:47] Seldaek commented on #94
Yeah Tooltip is basically the trigger, except it works on hover and not right-click. I just updated it with a couple tweaks I made here..

But yeah I don't know if it's worth having in the library itself, but I guess it makes a good use case example.

[2017-03-27 17:58] kemperrr commented on #91
@Seldaek Thank you! It worked!

[2017-03-27 18:20] #91 closed

[2017-03-28 10:49] charlie-rudenstal commented on #65
Thanks all for creating and merging a PR with a solution for this! I have
been away for a while and not had time to open a PR myself.
On Sat, 25 Mar 2017 at 04:53, Vivek Kumar Bansal <notifications@github.com>
wrote:

[2017-03-29 08:18] arangde commented on #10
@vkbansal, I made typedef .d.ts file in my typescript project.
Please review https://github.com/arangde/typescript-react-contextmenu/blob/master/react-contextmenu.d.ts

[2017-03-29 10:59] vkbansal commented on #10
Looks good enough to start with. Can you open a PR with it?

[2017-03-30 17:08] brmscheiner opened #97 "Long left click triggers context menu"
## Version
2.0.0

## Test Case
https://vkbansal.github.io/react-contextmenu/#/simple-menu

## Steps to reproduce
Left click inside the well for an extended amount of time

## Expected Behavior
Nothing

## Actual Behavior
Context menu appears

[2017-03-30 23:52] vkbansal commented on #97
Read `holdToDisplay` description [here](https://github.com/vkbansal/react-contextmenu#contextmenutrigger-)

[2017-03-30 23:52] #97 closed

[2017-03-30 23:53] vkbansal commented on #10
@arangde Can you open a PR?

[2017-03-31 00:22] brmscheiner commented on #97
My fault.. when I went through it the first time I stopped reading after "This is applicable only for touch screens."

[2017-04-04 19:43] IamCarbonMan commented on #94
Perhaps it would be possible to have ContextMenuTrigger accept a prop for the event it will show on. Not sure if there's a way to register a component event handler using a string prop of the event or something like that. Otherwise, maybe just a prop that recognizes a few different events like 'contextmenu', 'mouseover', 'click', 'dblclick'.

[2017-04-04 19:52] Seldaek commented on #94
Sadly it's not that easy.. I updated the code further to support touch events now and will require some more fixes possibly after more testing.

There are more considerations than just listening to a different event. You wanna have a delay etc. I can update the code here when we're done if there is an interest.

[2017-04-04 20:52] IamCarbonMan commented on #94
https://github.com/vkbansal/react-contextmenu/blob/master/docs/faq.md

I didn't see this before, but the method described there may be a better way to support triggering the menu arbitrarily. It does use refs and it is a bit messy, but perhaps you could create a class that encapsulates this and passes the context menu callback down somehow.

[2017-04-05 13:13] tedicela opened #98 "Disable Contextmenu on mobile"
How to disable contextmenu on mobile and let the setted events to trigger normally (onclick/ondbclick) setted on the ContextMenuTrigger tag?

The html tag that trigger the menu has onclick and ondbclick events. These events aren't fired on mobile devices but on PC they get fired. The context menu is fired on right-click(Desktop) and on long-press(mobile). Is possible to disable completely like the

[2017-04-12 13:51] nkahnfr opened #99 "SubMenu display when containing lots of subItems"
## Version
2.4.0

## Test Case
http://jsbin.com/nequdoloru/edit?js,output

## Steps to reproduce
Create a menu with a sub-menu having lots of sub-items (100 in the test case above).

## Expected Behavior
Be able to see and select any sub-item.
Two cases should be taken into account:
1. All sub-items can be displayed on the page by optimizing SubMenu position (i.e. centering it on the page instead

[2017-04-13 16:58] yotamberk opened #100 "RTL support"
## Version
1.2.0

There is support rtl for submenus which is great.
## Expected Behavior
I would expect that defining `rtl` to be `true` will open the contextmenu to the left of the mouse.

## Actual Behavior
the contextmenu opens to the right of the mouse position.

[2017-04-14 03:28] vkbansal commented on #100
v1.2.0 is no longer supported. But this is nice to have feature.

Can you open a PR with the feature by any chance?

[2017-04-14 09:02] yotamberk commented on #100
I've tried, but for some reason the eslint goes crazy and won;t let me build. (I'm using windows, and it seems there is a LF to CRLF problem)

[2017-04-14 09:06] yotamberk commented on #99
Why don;t you use `overflowY: scroll`? it doesn't make sense to have that many submenu items in a contextmenu...

[2017-04-14 09:19] vkbansal commented on #100
You can set line endings in your editor. What editor are you using?

[2017-04-14 09:20] yotamberk commented on #100
Sublime

[2017-04-14 09:29] vkbansal commented on #100
https://github.com/sindresorhus/editorconfig-sublime this plugin should help you

[2017-04-14 09:39] yotamberk commented on #100
Awesome. Expect a PR the next few days

[2017-04-14 09:44] vkbansal commented on #100
Great!!

[2017-04-14 09:54] yotamberk commented on #100
When doing `npm install` I get in my cmd ` error  Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style`. How can I solve this?

[2017-04-14 09:55] nkahnfr commented on #99
By default the context menu is hidden on page scroll. I tried using ```overflowY: scroll``` but you always somehow scroll the page when scrolling the submenu so it's not option as is.

Regarding the number of submenu items I think it depends on your usage. I am using context menu to ease moving nodes in a tree (something like a mind map) instead of drag and drop that gets difficult to use when you

[2017-04-14 10:25] vkbansal commented on #100
https://help.github.com/articles/dealing-with-line-endings/
this should help you

[2017-04-14 13:14] yotamberk commented on #100
still getting a problem: `Cannot find module 'eslint-config-vkbansal/react'`

[2017-04-14 13:30] vkbansal commented on #100
`npm install eslint-config-vkbansal`

[2017-04-22 11:07] danbovey commented on #98
You don't need to get rid of your context menus on mobile, it's just this line: https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L61 that's preventing anything being regularly clicked on mobile.

Opened a pull request to remove it: #102

I don't know why it's there, holding for right click and opening the menu doesn't cause a link to be clicked, and so without it

[2017-04-23 20:56] danbovey commented on #92
Nit: `aria-orientation: undefined` is not a valid ARIA attribute so it gets flagged on tests like Lighthouse. See my fork for fix to this and #98: https://github.com/danbovey/react-contextmenu/commit/d6a927bb36ba7afce8ea1f0032d175b98ce2bc6c

[2017-04-24 02:35] vkbansal commented on #92
@danbovey can you open a PR with ARIA fix?

[2017-04-28 02:30] #98 closed

[2017-05-05 14:25] hilde2 opened #104 "How generate menus based on the items that was clicked ?"
Hi ! Can this lib handle this ? I can't find how make it work

Example :
http://jchristman.github.io/react-context-menus/examples-dynamic-menus.html

[2017-05-06 16:50] vkbansal commented on #104
https://vkbansal.github.io/react-contextmenu/#/multiple-menus

doesn't ^ solve your problem?

[2017-05-10 07:30] hilde2 commented on #104
Well https://vkbansal.github.io/react-contextmenu/#/dynamic-menu was what I was looking for, thanks !

[2017-05-10 07:30] #104 closed

[2017-05-10 09:42] julienw opened #105 "ContextMenuTrigger overrides onMouseDown and other attributes"
In https://github.com/vkbansal/react-contextmenu/blob/769ad7fe83c3745e229111550228a11682c2e3c3/src/ContextMenuTrigger.js#L98-L107 the attributes `onContextMenu`, `onMouseDown`, `onMouseUp`, `onTouchStart`, `onTouchEnd`, `onMouseOut` are overridden. As a result we can't set any of them to trigger separate behaviors, even if we don't need them (for example with `holdToDisplay` set to a negative valu

[2017-05-10 09:55] vkbansal commented on #105
Can you open a PR, with the suggested changes?

[2017-05-10 10:12] julienw opened #106 "A fresh clone fails at `npm run lint`"
STR:
1. do a fresh clone
2. run `npm install`

I get an error while linting:
[code]

I couldn't find what the error is, everything seems to be correctly configured :/

[2017-05-10 10:20] vkbansal commented on #106
can you paste the output of `npm ls --depth=0`?

[2017-05-10 12:43] julienw commented on #105
I opened https://github.com/vkbansal/react-contextmenu/pull/107

[2017-05-10 12:43] julienw commented on #106
sure !

[code]

[2017-05-10 12:44] julienw commented on #106
Looks like this reproduces on Travis too :( https://travis-ci.org/vkbansal/react-contextmenu/builds/230740701

[2017-05-10 12:47] julienw commented on #106
LIkely comes from your change at https://github.com/vkbansal/eslint-config-vkbansal/commit/dfc50a7206d53cb6e12e6eb4bfe7f27d693f3925#diff-e9b44af435bd0c70038b5477990bb55dR48

This seems to need esling-plugin-react v7 according to the blame on https://github.com/yannickcr/eslint-plugin-react/commit/dc3a64300303b955bec398b685e4814c76f915fb

[2017-05-10 12:49] julienw commented on #106
OK let me update the versions now that I found the issue, PR coming :)

[2017-05-11 03:05] vkbansal commented on #106
Fixed in master

[2017-05-11 03:05] #106 closed

[2017-05-11 10:26] valentinvichnal commented on #82
@yeze322 Thank you, I missed that, it solved one of my problem!

[2017-05-11 10:28] valentinvichnal opened #109 "Bug with multiple click bindings"
I have opened #82

I found out what was causing my original issue wasn't multiple targets.
It was because I was using [https://github.com/RubaXa/Sortable](https://github.com/RubaXa/Sortable)
I tried to create a context on sortable items, when I right clicked, it started the sorting process and blocked the context trigger click.

Any workarounds for this?

[2017-05-11 14:55] #105 closed

[2017-05-11 17:07] julienw commented on #105
When do you think you'll be able to trigger a new version ? Thanks !

[2017-05-12 02:24] vkbansal commented on #105
Done. Released v2.5.2

[2017-05-12 14:34] phamvankhang commented on #109
i got the same problem

[2017-05-12 15:29] valentinvichnal commented on #109
I tried with mutliple id after that, was it a Sortable item where it worked?

[2017-05-17 13:34] codeart1st opened #112 "ContextMenu onContextMenu should prevent default"
In `ContextMenu`class `render`method is an `onContextMenu` prop, which bind the `handleHide` method to the `nav`element.
`handleHide` hasn't a `preventDefault`, so when someone tries to open an contextmenu with right click on the contextmenu itself, the browser system contextmenu will show up instead.
I would recommend a simple `onContextMenu={e => e.preventDefault()}`. With this change the browse

[2017-05-18 05:50] vkbansal commented on #112
My intention behind it was for easier debugging while development, But I agree with your point.

We can add something like:
[code]

[2017-05-18 07:42] #10 closed

[2017-05-20 06:01] codeart1st commented on #112
This would be nice.

[2017-05-22 05:56] #112 closed

[2017-05-25 09:49] Crayonn opened #116 "bug with MenuItem.js tag:v2.6.0 and npm package"
if onMouseLeave and onMouseMove is not default value,There is warning.

[2017-05-25 14:31] vkbansal commented on #116
Can you elaborate a bit more? In which component are you seeing this?

[2017-05-25 14:37] codeart1st commented on #116
Fixed with 9a0eb8926d1cc7515b648f1308f83c2a4cba9d8d

[2017-05-26 07:09] Crayonn commented on #116
@codeart1st
but npm package still have this problem

MenuItem.js in npm package

`export default class MenuItem extends Component {
    static propTypes = {
        children: PropTypes.node,
        attributes: PropTypes.object,
        data: PropTypes.object,
        disabled: PropTypes.bool,
        divider: PropTypes.bool,
        preventClose: PropTypes.bool,
        onClick: PropTypes.func,

[2017-05-26 07:12] vkbansal commented on #116
Just publish v2.6.1 with the fix. Sorry for the delay in publishing.

[2017-05-26 07:24] Crayonn commented on #116
@vkbansal
thank you!
Very honored to your reply!

[2017-05-26 07:24] #116 closed

[2017-06-02 16:22] skipjack opened #118 "Text Content Removed from Children (2.6.1)"
## Version
2.6.1

## Test Case
Here is [an example](https://www.webpackbin.com/bins/-KldcQNzGzkJ5GEyZ_rO). If you right click you'll see the menu pop up but empty. If you inspect the DOM, you'll notice that the child elements are rendered but with no text content.

## Steps to reproduce
Render normal children (not using `<MenuItem>`) within a `<ContextMenu>`.

## Expected Behavior
Children should

[2017-06-03 03:17] vkbansal commented on #118
@codeart1st I think your last change 1a21fba69c9dab71b63292abebc23113e55b464c is causing this.

[2017-06-03 05:15] #92 closed

[2017-06-03 05:15] #94 closed

[2017-06-03 05:17] #99 closed

[2017-06-03 05:18] vkbansal commented on #100
Any Update on this?

[2017-06-03 07:10] codeart1st commented on #118
No problem I will look into this.

[2017-06-03 07:25] codeart1st commented on #118
https://github.com/vkbansal/react-contextmenu/blob/master/src/AbstractMenu.js#L105 raw strings are no object types of `ReactElementSymbol` and it wasn't a good idea to skip those childs and nullify them.

[2017-06-04 19:30] yotamberk commented on #100
I've never managed to get the build to work...

[2017-06-05 05:15] vkbansal commented on #100
Are you using windows machine?

[2017-06-05 05:16] yotamberk commented on #100
yes

[2017-06-05 05:18] vkbansal commented on #100
I'll try setting up this on a windows machine today then.

[2017-06-05 14:10] skipjack commented on #118
@codeart1st no problem, thanks for jumping on this so quickly! Please ping me when a patch is released.

[2017-06-07 03:33] vkbansal commented on #100
I tried setting up on Windows Machine and it worked.

![image](https://user-images.githubusercontent.com/5930351/26861224-1de50e82-4b60-11e7-9e94-609700bed1e8.png)

[2017-06-07 11:51] vkbansal commented on #118
Published v2.6.2

[2017-06-07 11:51] #118 closed

[2017-06-07 14:33] skipjack commented on #118
Awesome -- updated, tested and confirmed.

[2017-06-14 16:26] stevenmusumeche opened #121 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null"
## Version
2.2.1

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce
Unsure but it happens in production (rarely)

## Expected Behavior
No uncaught errors

## Actual Behavior
Line 76: Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null

            innerWidth = _window.innerWidth,
            innerHeight = _window.innerHeight;
            var r

[2017-06-14 16:32] vkbansal commented on #121
It would be helpful if I can get steps to reproduce.

[2017-06-14 16:36] stevenmusumeche commented on #121
Yea, totally understand, I can't reproduce it either but our error tracking is finding it in the wild.  I noticed a similar error which happens in the same file because _this.menu is null.

[2017-06-14 16:40] vkbansal commented on #121
OK. I'll take a stab at it over the weekend.

[2017-06-15 15:32] skipjack commented on #121
I'm seeing this as well:

![image](https://user-images.githubusercontent.com/8988697/27188799-5895f75e-51bd-11e7-9f64-8b8af1f605c8.png)

Which stems from [line 147](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L147) in `ContextMenu.js`. It's [line 58](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L58) that triggers this though -- I thi

[2017-06-15 15:40] skipjack commented on #121
Also seeing:

![image](https://user-images.githubusercontent.com/8988697/27189446-5e9d54b0-51bf-11e7-93d8-a0f17229b23b.png)

Which seems to be caused by trying to read styles after the component has unmounted.

[2017-06-15 16:34] vkbansal commented on #121
Which browser are you guys seeing this on?

[2017-06-15 16:35] skipjack commented on #121
Chrome for me.

[2017-06-15 16:35] stevenmusumeche commented on #121
Latest Chrome for me as well.

[2017-06-16 19:39] kevinch opened #122 "Missing dependency on install"
## Version
2.6.2

## Steps to reproduce
`git clone` & `npm start`

## Expected Behavior
Starting local server with app.

## Actual Behavior
Error: `sh: http-server: command not found`

## Fix
`npm i http-server --save-dev`

[2017-06-17 03:10] vkbansal commented on #122
Would you like to open a PR with fix?

[2017-06-18 12:17] vkbansal commented on #121
Released a patch for this. Please open issues if you find such errors in future.

[2017-06-18 12:17] #121 closed

[2017-06-18 12:18] vkbansal commented on #122
Fixed it.

[2017-06-18 12:18] #122 closed

[2017-06-19 14:38] skipjack commented on #121
Tested and confirmed the fix, thanks @vkbansal!

[2017-06-19 14:55] stevenmusumeche commented on #121
same here, thanks so much @vkbansal you rock

[2017-06-23 08:18] faiwer opened #124 "Broken css-link in usage.md"
I read it in documentation page ([usage.md](https://github.com/vkbansal/react-contextmenu/blob/master/docs/usage.md))

But link is broken. I'm thinking right url is `https://github.com/vkbansal/react-contextmenu/blob/master/examples/react-contextmenu.css`.

[2017-06-23 09:48] faiwer opened #125 "A method for an prevent showing a contextmenu"
Hello. There's one small feature request here.  I wanted to show the contextMenu only when user clicks to some dom-tags, and do not show if user clicks on their children-tags, cause users would use some options of native browser menu there.

I saw source code of `ContextMenuTrigger`, I've found a lot of `callIfExists(this.props.attributes.%method%, event)` calls, but I can't override or prevent sh

[2017-06-25 13:06] vkbansal commented on #124
Would you like to open PR?

[2017-06-25 13:09] vkbansal commented on #125
There is a `disable` prop available on `<ContextMenuTrigger />` isn't it useful?

[2017-06-25 13:55] faiwer commented on #125
But how do disable it with `disable` react-prop? Did you mean something like this:

- use react-state on component-owner with property `isContextMenuDisabled`
- turn on it on `attributes.onMouseDown` by condition via `setState`
- turn out it on `attributes.onMouseUp` via `setState`
- use it in `render`-method in `ContextMenuTrigger`-attributes (`disable`, `onMouseDown`, `onMouseUp`)?

Yes, I can.

[2017-06-25 13:55] #125 closed

[2017-07-12 11:14] liziwangrui opened #128 "can i write css for contextmenu by myself? thank you~"

[2017-07-12 12:22] batazor opened #129 "How work with nested `ContextMenuTrigger` ?"
## Version
2.6.3

## Steps to reproduce

[code]

## Expected Behavior

## Actual Behavior

If you attach one ContextMenuTrigger nested to another ContextMenuTrigger,
then the CSS-calculated with the offset

P.S. example https://codesandbox.io/s/vgm8LP4G0

[2017-07-12 13:09] batazor commented on #129
I changed the structure of my components, adding `position: relative;` it's like solved the problem
@vkbansal

[2017-07-12 13:23] batazor commented on #129
![screenshot from 2017-07-12 16-15-09](https://user-images.githubusercontent.com/1643797/28119705-788a7488-671e-11e7-8858-0bc8b752b2d4.png)

[2017-07-12 14:28] lord-xeon opened #130 "Option to Attach Context Menu to <body>"
## Version
2.6.2

## Test Case

## Steps to reproduce
Attach the Context Menu to a component embedded in something that uses heavy z-indexes - like a column in react-data-grid.

## Expected Behavior
ContextMenu renders above everything

## Actual Behavior
Due to z-index issues, parts of context-menu are visible, while others are below other elements.

--
I'm trying to integrate the react-contextme

[2017-07-12 15:50] vkbansal commented on #128
Yes you are free to customize contextmenu, however you like.

[2017-07-13 08:52] sourabhlk commented on #9
yeah same issue I am wrapping <ContextMenuTrigger to table which it breaks and contextmenu works weird, suggest some solution

[2017-07-13 08:58] #124 closed

[2017-07-13 09:00] vkbansal commented on #9
There is an option renderTag

[2017-07-13 09:03] vkbansal commented on #9
https://github.com/vkbansal/react-contextmenu/blob/master/docs/api.md

[2017-07-13 09:12] vkbansal commented on #130
Currently there is no option to attach to any element of our choosing because there is no stable API within React itself to achieve the same.

[2017-07-13 09:13] vkbansal commented on #129
Can you provide me a reproducible code?

[2017-07-13 09:27] batazor commented on #129
@vkbansal ok, I will try to do it shortly

[2017-07-13 11:30] batazor commented on #129
@vkbansal I created simple example https://codesandbox.io/s/vgm8LP4G0

Click by `ChildrenJS`

[2017-07-14 01:10] vkbansal commented on #129
Thanks for the example. I've taken a look and I'll try to work on the fix over the weekend.

[2017-07-15 02:12] jnotnull opened #131 "if scroll the window, the contextmenu will not visible"
I have modified the bug, please merge it, thanks: https://github.com/jnotnull/react-contextmenu/commit/774f05420905a90504a247b694d5f55fc5d851ef

## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-07-17 04:02] vkbansal commented on #131
Can you provide more details? this is not helpful

[2017-07-18 02:42] #130 closed

[2017-07-18 02:57] vkbansal commented on #129
Hey, So I tried to debug and the issue appears with `react-grid-layout` as it applies a `transform` on the element.

![jul-18-2017 08-24-24](https://user-images.githubusercontent.com/5930351/28298775-d41d248a-6b92-11e7-9c9a-f107d54a9a63.gif)

[2017-07-18 03:36] #128 closed

[2017-07-18 03:46] vkbansal commented on #129
I've added nested example
https://vkbansal.github.io/react-contextmenu/#/nested

[2017-07-18 03:46] #129 closed

[2017-07-19 16:02] PaulScala opened #132 "Menu is opening in wrong position on IOS if page is scrolled."
## Version
2.6.3

## Steps to reproduce
1) Scroll down the page on Safari on IOS
2) Bring up context menu by long pressing

## Expected Behavior
Context menu should open at position of long click

## Actual Behavior
Menu opens further down the page or off screen

[2017-07-20 18:06] danielcrisan opened #134 "not alligned with npm package"
Can you please align the npm package with the github master branch?

[2017-07-22 17:48] vkbansal commented on #134
released `2.6.5`

[2017-07-22 17:48] #134 closed

[2017-07-24 08:57] sachin32 commented on #131
How this will work and its merged or not

[2017-07-25 20:55] lakshya-8 opened #135 "Ability to show the icon with MenuItem would be a great feature to have."
## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

- ContextMenu in Google Drive is an example of expected behaviour where it shows the icon right text to menu-item text.

## Actual Behavior

[2017-07-26 01:22] vkbansal commented on #135
You are free to show any thing. You can do this.
[code]

[2017-07-26 01:22] #135 closed

[2017-07-26 13:40] lakshya-8 commented on #135
Thanks for your quick response @vkbansal .

[2017-07-31 19:45] lakshya-8 commented on #50
@vkbansal I also think this `ContextMenuTrigger` should be configurable to be able to handle `Left/Right` click.

[2017-08-01 02:24] vkbansal commented on #50
Can you give a good reason for allowing it?

[2017-08-01 03:07] lakshya-8 commented on #50
If I want to use this library to open the context-menu by left clicking on a three-dot ( e.g In Google Drive if you click on any of the folders, you'd see three-dot menu for that folder and left clicking opens the context-menu for that folder) menu.

[2017-08-01 05:17] vkbansal commented on #50
Shouldn't that be dropdown-menu instead of context-menu? The three-dot menu has a fixed positions (i.e top-right) and a [simple dropdown menu can be created only using css](https://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu) for this case. It does not require the complex logic of calculating the position.

Where as for a context-menu, you don't have control over where a user will

[2017-08-03 11:55] fearintino opened #136 "Contextmenu support"
## Add

[2017-08-03 11:55] #136 closed

[2017-08-03 11:56] fearintino commented on #136
Sorry my fault

[2017-08-07 21:21] dsslimshaddy opened #137 "ClickHold causing the menu to appear"
Left Click hold triggers the menu open.

[2017-08-07 21:21] #137 closed

[2017-08-08 06:38] sourabhlk opened #138 "If two grid items are there calling same component and if right clicked on one of grid item, the csm showing for both grid items, how to differentiate"
## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-08-08 09:17] vkbansal commented on #138
Please be more specific and provide code samples/screen shots of your issue.

[2017-08-08 13:51] sabina4 opened #139 "Prevent Default on touch screens"
I have a ContextMenuTrigger that wraps a checkbox. On touch screens the long press still triggers the default menu: copy/define/share...

Here is a sample of my code:
[code]

...

## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-08-09 13:13] vkbansal commented on #139
You have not provided provided `id` to `<ContextMenuTrigger>` and also try adding `holdToDisplay Props`.

[2017-08-09 13:17] sabina4 commented on #139
i tried adding holdToDisplay it still didn't work. and i do have an id in my code i just forgot to copy it here

[2017-08-09 13:19] vkbansal commented on #139
Can you create a reproducible demo on jsbin / webpackbin?

[2017-08-10 09:36] sabina4 commented on #139
i solved it. i removed the label from the checkbox and added a separate label that is wrapped with the trigger. i also added user-select:none to the label

[2017-08-11 06:05] #139 closed

[2017-08-16 07:54] FatFatFox opened #140 "Couldn't install successfully"
install steps:
1. Download the master.zip
2.unzip master.zip
3.go into master path by commandline tool
4.use npm i
5.use npm run start

result:
It can be accessed ,but the contextmenu part in page couldn't show
the console shows that some css file couldn't find

[2017-08-16 09:52] vkbansal commented on #140
Thanks for reporting. I'll take a look when I get some free time.

[2017-08-20 03:11] vkbansal commented on #138
Closing due to no response. Please reopen when you can provide code samples.

[2017-08-20 03:11] #138 closed

[2017-08-20 03:14] vkbansal commented on #131
Closing due to no response

[2017-08-20 03:14] #131 closed

[2017-08-20 03:43] vkbansal commented on #140
This should be fixed now

[2017-08-20 03:43] #140 closed

[2017-09-07 09:30] yanxi-me opened #143 "submenu click event fired multi times"
## Version
2.6.5

## Test Case
https://vkbansal.github.io/react-contextmenu/#/submenus

## Steps to reproduce
1. right click on the demo
1. select "A SubMenu"
1. click "SubItem 1"
1. continue to click without moving mouse

## Expected Behavior
1. only one click event fired

## Actual Behavior
1. click event fired multi times

[2017-09-07 13:14] #143 closed

[2017-09-08 03:19] MonkeyJumps opened #146 "Object doesn't support property or method 'assign'"
## Version
2.6.5

## Steps to reproduce
clone & npm start
## Expected Behavior
context menu should be fully functional on IE 11.540.15063.0
## Actual Behavior
Object doesn't support property or method 'assign'
bundle.js (2277,1172)

[2017-09-08 06:22] vkbansal commented on #146
Thanks for reporting. Fixed in v2.7.0

[2017-09-08 06:22] #146 closed

[2017-09-08 21:13] MonkeyJumps commented on #146
I try to run the build script but i receive loads of expected linebreaks to be 'LF' but found 'CRLF' errors. I want to build your latest source 2.7.0 and use it.

[2017-09-09 03:56] jtheberge opened #147 "CSS transform: translate() on Parent Breaks Context Menu"
## Version
 ^2.6.5

## Test Case
 [http://jsbin.com/mafidoc/edit?html,css,js,output](http://jsbin.com/mafidoc/edit?html,css,js,output)

## Steps to reproduce
 Apply transform: translate(x, x) on context menu's parent element

## Expected Behavior
 Context menu appears next to cursor when right-clicking.

## Actual Behavior
Context menu shifted twice as much as the parent's transform away from the

[2017-09-09 05:51] vkbansal commented on #146
This should help https://help.github.com/articles/dealing-with-line-endings/

[2017-09-09 06:02] vkbansal commented on #147
We `position: fixed` for positioning the menu and it does not work correctly when transforms are applied. This just how CSS works.

http://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/

[2017-09-09 06:02] #147 closed

[2017-09-09 18:32] yotamberk commented on #100
I'm still having problems with this. I really would like to fix this when I have more time

[2017-09-13 07:53] emasch opened #148 "Adding icon (or html) to submenu title"
## Version
2.6.5

## Steps to reproduce
[code]

## Expected Behavior
I want to add an Icon to the title of a submenu. Is it possiblie? I can't find something about it in the API docs.

Some Ideas on how it could look like:
[code]
or
[code]
I would prefere version one as it looks cleaner to me.

## Actual Behavior
I can't put html in the ``title`` attribute of the ``SubMenu``:
[code]

[2017-09-13 08:46] vkbansal commented on #148
You can use this
[code]

[2017-09-13 08:46] #148 closed

[2017-09-13 08:48] emasch commented on #148
Yes of course. I haven't thought about that...

[2017-09-14 00:12] MonkeyJumps commented on #146
ok thanks. Can you update the NPM repo version to match github?

[2017-09-14 02:26] vkbansal commented on #146
My Bad. Just published it.

[2017-09-14 04:20] MonkeyJumps opened #149 "Object doesn't support property or method 'includes'"
## Version
2.7.0

## Test Case

## Steps to reproduce
Load dynamic menu
right click  ContextMenuTrigger
## Expected Behavior
ContextMenu should appear
## Actual Behavior
javascript runtime error when using ie11: Object doesn't support property or method 'includes' inside the handleShow event.

I've personally have handled this by using lodash, but I don't see that being used so i didn't want to at

[2017-09-14 05:57] vkbansal commented on #149
Dynamic menu uses experimental `connectMenu.js`

see https://github.com/vkbansal/react-contextmenu/releases/tag/v2.3.1

[2017-09-14 05:57] #149 closed

[2017-09-14 06:54] MonkeyJumps opened #150 "MenuItem click event does not fire when wrapped in HOC"
## Version
2.7.0

## Test Case
[code]

## Steps to reproduce
Create HOC around SimpleMenu.

## Expected Behavior
MenuItem should respond to click event
## Actual Behavior
THe component is rendered and the ContextMenuTrigger fires as expected around the component and the Menu Item is shown but the click event for the MenuItem does not fire.
Nothing is written to console.log. Event doesn't fire.

[2017-09-15 05:25] whathejoe opened #151 "mouseUp and mouseDown events bubble up"
## Version
2.7.0

## Test Case
https://www.webpackbin.com/bins/-Ku2ncU1qirpXcFqT066

## Steps to reproduce
1. Right click on blue square
2. Select any menu item

## Expected Behavior
Mouse down and mouse up events to not propagate.

## Actual Behavior
They do.

[2017-09-15 13:02] #109 closed

[2017-09-22 02:54] goldEli opened #152 "warning:There is another module with an equal name when case is ignored."
## Version
2.7.0

when I webpack my projects, show warnings。

1. yarn install
2. webpack
3. show warnings

but

1. npm install
2. webpack
3. everthing is fine

the warnings:
[code]

[2017-09-22 07:27] goldEli commented on #152
I guess webpack compiled the same file twice

[2017-09-22 08:12] goldEli commented on #152
import { ContextMenu, MenuItem, ContextMenuTrigger } from 'react-contextMenu'; // should from 'react-contextmenu'
https://github.com/webpack/webpack/issues/382#issuecomment-50440441

[2017-09-22 08:12] #152 closed

[2017-09-24 16:21] #132 closed

[2017-09-26 13:33] ZachLiuGIS commented on #150
I'm wondering if you have variable conflicts for Component. It looks like the HOC is subclassing the Component you passed instead of React.Component? Subclass a component may have issues.

[2017-09-29 10:13] dnish opened #153 "How to get passes props in onShow?"
Hey,
are we able to get the passed props within the onShow method? I need to show and hide some menu items when specific props are passed to the menu.

[2017-10-02 12:08] vkbansal commented on #153
What passed props are you talking about? Props passed from `ContextMenu` to `MenuItem` or only passed to `MenuItem`.

[2017-10-03 01:51] ZachLiuGIS opened #158 "ContextMenu position is not correct when using css transform."
I was trying to use react-contextmenu in out app, then I found the context menu position is misplaced. I did some research and found that it is because of if your parent node has css transform, it will create new stacking context and the event x and y will not be correct.

Here is my reproducing the bug,
[](https://codesandbox.io/s/3q14z0y631)

Here is the stackoverflow issue about css fixed posit

[2017-10-03 05:14] vkbansal commented on #158
duplicate of #147

[2017-10-04 07:08] vkbansal commented on #158
If event x and y are itself incorrect, then even portal will not help

[2017-10-09 22:21] miachenmtl opened #160 "onShow and onHide in ContextMenuTrigger"
Hi, I'm using react-contextmenu in a table that utilizes another plugin. The ContextMenu component is declared near the top of the component tree, outside of the table so it won't be hidden by the table's `overflow: hidden` CSS. ContextMenuTrigger, on the other hand, is in a deeply nested component inside the table, and it's not straightforward to pass props down because of the table plugin. What

[2017-10-10 08:40] vkbansal commented on #160
The PR you are referring to has both `onShow` and `onHide` callbacks. I'm waiting for the author to respond to my comments.

[2017-10-11 15:45] danilvalov commented on #50
If someone wants to do this then just use the `holdToDisplay` option for `ContextMenuTrigger` with a value of `0`:
[code]

[2017-10-30 10:02] alolis commented on #132
I have noticed the same behavior in v2.8.0 under iOS with both Safari AND Chrome

[2017-11-07 05:42] thousight opened #161 "MenuItem onClick() is not triggered"
[code]

## Version
2.8.0

## Test Case
https://github.com/thousight/cloud-music-player/blob/feature/ContextMenu/src/js/components/PlaylistItem.js

## Expected Behavior
When clicking on the MenuItem, onClick() should log data

## Actual Behavior
onClick() did not get called, it might be influenced by react-sidebar since MenuItem is used within react-sidebar's sidebar content, but any help to debug

[2017-11-13 14:36] vkbansal commented on #161
Sorry, but I'm on vacation right now. Helping you may take sometime.

[2017-11-13 15:40] thousight commented on #161
Take your time

[2017-11-14 17:11] stevenmusumeche opened #162 "Unmet peer dependency "prop-types@^15.0.0"."
## Version
2.8

When using `prop-types@^15.6.0` as needed for React 16, I get the following warning when using this package.

    warning "react-contextmenu@2.8.0" has unmet peer dependency "prop-types@^15.0.0".

Can you update the peer dependencies to support the latest `prop-types` package?

[2017-11-15 06:00] vkbansal commented on #162
According to https://semver.npmjs.com/
`prop-types@^15.0.0` should allow `prop-types@^15.6.0`
<img width="1603" alt="screen shot 2017-11-15 at 11 28 26 am" src="https://user-images.githubusercontent.com/5930351/32821188-2a20b3ce-c9f8-11e7-9139-04d22d63e72f.png">

[2017-11-15 13:33] stevenmusumeche commented on #162
yarn 1.2.1

[2017-11-15 13:49] kamaldlk opened #163 "I want to user react-contextmenu lib into my app can u help me to implement"
Hi @vkbansal
example https://codesandbox.io/s/3z3lq9zn1

thanks for nice lib.

please when i click right click add row above, add row bellow and delete row
when i select multi rows using check box i want to show delete all text need to show please suggest me

react-data-grid im using this example.

[2017-11-15 16:07] kamaldlk commented on #163
Thanks for reply @vkbansal
yes i tried Brother But it's throwing error.

this.menu undefined in this.refs :(

[2017-11-15 20:17] #100 closed

[2017-11-16 20:58] ninjaofawesome opened #164 "Menu should left or right align, not default left"
## Version
1.2.0

## Overview
This menu is quite handy, except for one flaw- the menu always aligns in one direction- towards the left.  For my use case, I need the menu to align to the right.

Similarly to implementing a left click action instead of a right one, there should be an option to select menu orientation.  There was nothing in the documentation on how this may be implemented.

## Steps

[2017-11-16 22:23] zelanter opened #165 "Context menu appearing under surrounding Material UI Chip component"
Hi,

this is a very specific case and here might not be the proper place to post it, but still thought it would be interesting to see if anyone here would have ideas, suggestions to get around the issue I am running into:

I added react-contextmenu on Material UI Chip component, it's actually a list of Chips, side by side, and each can trigger the context menu. However, when right clicking, the me

[2017-11-17 03:14] vkbansal commented on #165
Have you tried increasing the `z-index`?

[2017-11-17 03:17] vkbansal commented on #164
This behaviour is based on how native context-menu works.

I'm ready to accept a PR with the requested feature.

[2017-11-17 13:45] zelanter commented on #165
Adding z-index to style of main contextMenu style? Tried it now, did not seem to work. Tried for MenuItem too.

Thanks

[2017-11-21 07:18] #151 closed

[2017-11-26 18:33] keithweaver opened #167 "Version Bump"
Could you bump the version and publish an update to npm? I'm just hoping to get the recent commits or could you give me a timeline on the next version bump.

## Version
1.2.0

## Test Case
http://jsbin.com/sacerobuxi/edit?html,js,output

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-11-27 05:19] vkbansal commented on #167
done as 2.8.1

[2017-11-27 05:19] #167 closed

[2017-11-28 07:41] WaterDesk opened #168 "Menu doesn't close when press 'Enter'"
## Version
2.8.0

## Test Case

## Steps to reproduce
1. Given the menu is open and the selected item is disabled, When I press Enter, the menu doesn't close
2. Given the menu is open and no item is selected, When I press Enter, the menu doesn't close

## Expected Behavior
1. The menu should close when press Enter on a disabled item.
2. The menu should close when press Enter if no item is seleted

[2017-11-28 18:21] mgummelt opened #169 "onMouseMove event handler is not properly registered when MenuItem's are abstracted into another component."
This is due to this function: https://github.com/vkbansal/react-contextmenu/blob/e655e22f561b6eb80d9c4708c67121b3e5a9e60a/src/AbstractMenu.js#L115 which adds a `onMouseMove` handler to `ContextMenu`'s immediate child, which must be a `MenuItem` to work properly, but is not when the `MenuItem` list is abstracted into a separate component.

## Version
2.8.0

## Steps to reproduce
Wrap `MenuItem`s in

[2017-11-29 09:36] #168 closed

[2017-11-29 09:37] vkbansal commented on #169
I cannot think of a fix for this. Do you have a solution?

[2017-11-30 09:24] #163 closed

[2017-12-02 14:16] #150 closed

[2017-12-03 18:49] mgummelt commented on #169
Not off the top of my head.  It might be helpful to add some error checking code that fails early in this case.  I spent a bit of time debugging.

[2017-12-08 10:29] loicbourg opened #176 "keyboard event listener not unregistered"
## Version
1.9.1

## Test Case
https://jsfiddle.net/6ty1r8yn/1/

## Steps to reproduce
- Right click on the context menu trigger.
- Hover the first Sub menu
- Click "Ajouter"
- Type some text in the textarea and try to add a new line with enter

## Expected Behavior
I should have a text with multiple new line in the textarea

## Actual Behavior
no new line is added

## Additional informations
The

[2017-12-08 13:41] #153 closed

[2017-12-10 07:39] #158 closed

[2017-12-10 19:28] jake-daniels commented on #125
Actually, I expected this to be the default behavior.
When I have a structure like this:
[code]
I would like to have context menu active only on the container div and not on items inside the container. When I click on an item, I want to have default browser context menu. Is this possible?

[2017-12-13 15:34] brusherru commented on #153
I need access to `trigger` props inside `onShow` callback, cause I want to dispatch something.
E.G. I opens a context menu on some item and I want to dispatch "SELECT_ITEM" with item id (it's a dynamical menu).

[2017-12-14 15:42] dana2208 opened #178 "Examples page is not working anymore"
Hi,

When clicking on examples we are redirected to 404 page.
Could you please fix this?

Thank you!

[2017-12-15 06:54] vkbansal commented on #178
It is working fine for me. Can you give me the link at which you are seeing 404?

[2017-12-15 09:12] loicbourg commented on #176
Any idea about the origin of the bug ?

[2017-12-15 19:22] taboadakt commented on #161
This is also happening to me

[2017-12-16 05:14] vkbansal commented on #176
I've published react-contextmenu@2.9.2-alpha.1 with possible fix. Can you try it?

[2017-12-16 05:17] vkbansal commented on #161
`this.handleContextMenuClick` is not working on the following?
[code]

[2017-12-16 05:18] #160 closed

[2017-12-16 05:58] XaveScor opened #179 "npm and alpha version"
Why? npm install unstable version by default.

[2017-12-16 09:00] dana2208 commented on #178
https://github.com/vkbansal/react-contextmenu/blob/master/docs/examples

[2017-12-16 09:44] vkbansal commented on #178
fixed it. thanks for reporting

[2017-12-16 09:44] #178 closed

[2017-12-16 11:40] zelanter commented on #165
@vkbansal I saw some style related updates lately, will that potentially make it easier to get around this issue?

Thanks

[2017-12-16 14:50] will-hart opened #180 "Allow props to be passed to handleContextClick when showing menu from code"
I have an external component library where I'm trying to provide different context menus for different types of child components. I am unable to edit the library to add in `ContextMenuTriggers` on all the child components.

I can show the correct menu by declaring `ContextMenuTriggers` at a higher level outside of the library, and calling the `handleContextClick()` function on the triggers. The li

[2017-12-16 15:11] thousight commented on #161
Nope, it is not triggered at all

[2017-12-18 05:50] vkbansal commented on #180
Does not the SO answer solve your issue?

[2017-12-18 13:45] will-hart commented on #180
I'm not 100% sure, I'll take a look :+1:

[2017-12-19 08:00] loicbourg commented on #176
@vkbansal thanks for the release !
That's working better now but there is still a problem on the first press on the Enter key, but the next press are working.

example here: https://jsfiddle.net/6ty1r8yn/1/

[2017-12-19 13:12] vkbansal commented on #179
My mistake. Will fix it soon.

[2017-12-19 13:12] #179 closed

[2017-12-19 13:55] vkbansal commented on #176
This issue is caused by https://github.com/vkbansal/react-contextmenu/blob/master/src/SubMenu.js#L215

This will need a deep dive and may take some time

[2017-12-19 14:03] vkbansal commented on #165
Can you make a JSfiddle example? It will help in debugging

[2017-12-20 14:40] Marindrew commented on #161
not triggering for me as well

[2017-12-24 16:00] ronnyvdb commented on #161
not triggering for me

[code]

[2017-12-24 16:35] vkbansal commented on #161
@ronnyvdb Can you provide reproducible code on jsbin/webpackbin ?

[2017-12-26 21:53] ronnyvdb commented on #161
@vkbansal the module is working perfectly, sorry, the problem was an undefined id

[2017-12-28 10:28] eddies opened #181 "Packaging changes in 2.9.2"
## Version
2.9.2

## Description

Between (at least) 2.8.0 and 2.9.1, react-contextmenu releases have included `dist`, `es6`, `modules`, and `public` directories. However, with 2.9.2, these are gone, but we now have `examples` and `tests`.

I had a reference to `public/styles.css` that broke when I updated, so I'm just looking to see if that will no longer be a stable reference.

Thanks!

[2017-12-28 14:22] vkbansal commented on #181
From [unpkg.com](https://unpkg.com/react-contextmenu@2.9.2/), I see `dist`, `docs`, `es6`, and `modules` are all present.

`public` was never meant to be included. It is used only for deploying docs.

And going forward `src` and `docs` will also be removed.

[2017-12-29 02:06] eddies commented on #181
My bad--I had already downgraded to 2.9.1 when I made this issue and so just downloaded 2.9.2 from the releases tab (https://github.com/vkbansal/react-contextmenu/archive/v2.9.2.tar.gz) when cataloging the changed directories. (So indeed public is no longer present and examples and tests are not present in npm).

[2017-12-29 02:06] #181 closed

[2018-01-02 19:29] maasha opened #182 "How can you add a title to your context menu?"
I have done this before with jquery contextmenu ala this where it says "New Group":

<img width="229" alt="screen shot 2018-01-02 at 20 27 47" src="https://user-images.githubusercontent.com/1158057/34496845-7b4e4062-effb-11e7-88a3-86bb608d82e9.png">

[2018-01-03 06:03] vkbansal commented on #182
You can render anything within `<ContextMenu/>`

[2018-01-03 18:28] maasha commented on #182
Ah! How about including an example of that in the demo?
(also, `divider` is not documented in the API)

[2018-01-03 18:28] #182 closed

[2018-01-04 18:12] julienw commented on #65
Hey, I realize that without a "collect" function, nothing would happen. What do you think of passing all props by default, if "collect" isn't present ?

Looking at https://github.com/vkbansal/react-contextmenu/blob/a296846497253a72fc3903c2e9c8bfa88955ac78/src/connectMenu.js#L38-L43 that's what I think this code expects.

[2018-01-08 14:19] lord-xeon opened #183 "Unable to Use Native <a> Tags"
## Version
1.9.1

## Test Case
https://jsfiddle.net/yy9zk87f/

## Steps to reproduce
Create a Context menu with an `<a>` tag in it
Click on the `<a>` tag

## Expected Behavior
You are taken to the URL on the `<a>` tag

## Actual Behavior
The Context menu absorbs the event and closes

This is happening because of the `event.preventDefault()` that is included in `handleClick()`  Perhaps we could hav

[2018-01-09 16:18] eladrkatz commented on #50
vkbansal - technically you're right.. but if I'm already using this component in my app then for dropdown menu it's very convenient to use just one component.
It's not as if allowing the change of the triggering event would make the component more complex or anything...

[2018-01-09 16:26] eladrkatz commented on #50
Makes me wonder how many of the 117 forks are just for this feature ;)

[2018-01-10 11:52] koutsenko opened #184 "Broken handleKeyNavigation"
## Version
2.9.2

## Test Case
Your test fiddle not work. So, by words. I created a menu and opened it, but keyboard arrow keys not work. Application crashing, AbstractMenu.js::L112. "child" variable contains an text value provided to MenuItem as jsx children. But at line 112 , library trying to access child.props.children variable.

Code
![screen6](https://user-images.githubusercontent.com/529293

[2018-01-10 12:19] koutsenko commented on #184
@codeart1st can you take a look?

[2018-01-11 02:56] vkbansal commented on #50
fine, I'll accept a PR

[2018-01-11 08:19] koutsenko commented on #184
Nevermind.
I switched to material-ui-next Menus (in -next, they can be relatively positioned) + oncontextmenu event/

[2018-01-11 08:36] codeart1st commented on #184
I will look into it next time

[2018-01-15 04:42] #162 closed

[2018-01-17 15:06] jaepd commented on #180
This is an issue for me too and that SO question's answer doesn't solve it, but the proposed solution would.

[2018-01-22 05:09] parthiv1993 opened #185 "Requesting a config"
I would like to trigger the menu opening on specific event other than right click. may be left click . Can you give an configurable parameter for doing so

[2018-01-22 05:18] vkbansal commented on #185
I'll probably add this in v3

[2018-01-23 05:03] #164 closed

[2018-01-28 15:26] fastlorenzo opened #186 "Get click event data in MenuItem"
## Version
2.9.2

## Test Case
N/A

## Question
Dear,

Thank you for this awesome plugin!

I had a question though, the MenuItem 'OnClick' passes the click event when a user clicks on the MenuItem. Is there a way to get the click event that triggered the ContextMenu?
I'm specifically interested in the clientX and clientY variables as I'm using it on a page (svg map) to create new objects on the ma

[2018-01-29 04:41] pouu69 opened #187 "isMounted error"
## Version
1.6.3

## Problem
If i click right mouse , below show error

`Warning: Modal: isMounted is deprecated. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks.`

[2018-01-29 06:15] vkbansal commented on #187
v1.6.3 is no longer supported. Please upgrade to v2 if possible.

[2018-01-29 06:16] pouu69 commented on #187
plz supported IE 10  in v2

[2018-01-29 06:17] pouu69 commented on #187
Perhaps there is an error in the react-overlay Modal.

[2018-01-29 06:20] vkbansal commented on #187
I'm sorry. Since this is an open-source project, I do not have resources to support old browsers.

You are free to fork this project and use it.

[2018-02-08 20:03] #169 closed

[2018-02-15 06:30] faiwer opened #189 "PropTypes and transform-react-remove-prop-types"
Hello. There is one usefull babel plugin called `transform-react-remove-prop-types`. It removes excess `PropTypes` from production builds and decreases the build file size. But it can't work with `react-contextmenu` package because it (`react-contextmenu`) works with `propTypes` fields in runtime.

e.g.:
[code]
and another similar code blocks. Could you please amend this part of `react-contextmenu

[2018-02-15 10:23] vkbansal commented on #189
I'm planning to move to typescript and remove propTypes anyways.

[2018-02-19 15:12] ospfranco commented on #50
hey, is this merged? the readme doesn't seem to specify it

[2018-02-19 15:34] Amitdevelopment commented on #137
@dsslimshaddy  I am also facing the same issue.
Can you please tell me how did you solved this issue?

[2018-02-19 19:23] machineghost opened #190 "Readme Has Invalid Example"
## Version
1.9.1

## Test Case
None

## Steps to reproduce
Visit GitHub front page

## Expected Behavior
Example actually works.

## Actual Behavior
The example violates the library's own rules, because it includes:

    <MenuItem data={"some_data"}

First off, you don't need `{}` to pass a string property in React, but more importantly you can't pass a string as data in `react-contextmenu`; if yo

[2018-02-19 22:56] machineghost opened #191 "connectMenu Silently Swallows Event (But it Would be Really Handy if it Passed it Along)"
## Version
1.9.1

## Test Case

    connectMenu(`foo)(MenuToConnect);

## Steps to reproduce

Connect a menu, trigger the menu, try to use the event that triggered the menu to decide what should be in the ContextMenu

## Expected Behavior

The (dynamic, ie. connected via `connectMenu`) ContextMenu has access to the event that triggered the showing of it.

## Actual Behavior

All that gets passed i

[2018-02-20 00:30] machineghost opened #192 "Default Styles Should Have a Z-Index of at Least 2 (Maybe 9999 to be Safe?)"
## Version
1.9.1

## Test Case
None

## Steps to reproduce
Create any context menu using the recommended default styles, including:

    .react-contextmenu.react-contextmenu--visible {
      opacity: 1;
      pointer-events: auto;
    }

## Expected Behavior
The context menu won't get hidden behind other elements (and potentially appear to not work at all) when using author-recommended styles.

##

[2018-02-20 05:27] vkbansal commented on #137
https://github.com/vkbansal/react-contextmenu/blob/master/docs/faq.md

[2018-02-20 05:28] vkbansal commented on #191
connectMenu is experimental.

@CarstenWickner Can you help out?

[2018-02-20 05:30] vkbansal commented on #192
Can you open a PR?

[2018-02-20 05:30] vkbansal commented on #190
Can you open a PR?

[2018-02-20 05:56] Amitdevelopment commented on #137
Thanks !
I solved this using `holdToDisplay` .

[2018-02-23 21:47] skipjack opened #193 "Positioning Breaks When Not Relative to Window"
## Version

1.9.1

## Test Case

https://jsfiddle.net/Luktwrdm/129/

## Steps to reproduce

1. Right click the positioned `#container`.
2. Notice the offset position of the context menu.

## Expected Behavior

Parent styling won't affect context menu positioning.

## Actual Behavior

Certain parent styling, i.e. [anything](https://developer.mozilla.org/en-US/docs/Web/CSS/position#absolute) that wi

[2018-02-23 22:06] skipjack commented on #193
[`HTMLElement.offsetParent`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/offsetParent) looked promising but it only seems to return `null` for the `position: fixed` menu.

[2018-02-24 02:31] vkbansal commented on #193
Similar to https://github.com/vkbansal/react-contextmenu/issues/147

[2018-02-24 02:31] #193 closed

[2018-02-24 14:50] #176 closed

[2018-02-24 14:50] #165 closed

[2018-02-25 20:18] CarstenWickner commented on #191
Hi @machineghost,
the whole point of the `filteredData` part was to not expose more than is necessary.
Exposing the whole event would mean to provide references to heaps of unnecessary data.
However, I can appreciate the idea of forwarding the reference from e.target to reduce the need for too many nested triggers.

I'd propose to only include this additional reference to the `target` and nothing

[2018-02-26 23:59] pouu69 opened #194 "Why does not IE10 support it?"
## Version
1.6.3

## Test Case

## Steps to reproduce

## Expected Behavior

## Actual Behavior

Why does not IE10 support it?
IE10 is also a potential browser.
Please support me.

[2018-02-27 01:40] vkbansal commented on #194
This is an open-source project, on which I work on weekends. I do not have resources to keep supporting older browsers. However you are free to fork this project and make changes your require.

[2018-02-27 01:40] #194 closed

[2018-02-27 03:54] pouu69 opened #195 "Don't scroll lock now?"
## Version
2.9.1

## Test Case
https://jsfiddle.net/Luktwrdm/54/

## Steps to reproduce

## Expected Behavior

## Actual Behavior

Don't scroll lock now?

[2018-02-28 08:23] xoptimal opened #196 "The style did not load successfully."
## Version
2.9.2

## Steps to reproduce

[code]

## Expected Behavior

ContextMenu init success, but The style did not load successfully.

## Actual Behavior

Successful style loading

[2018-03-03 19:21] machineghost commented on #191
I just don't see the point of hiding basic browser/language features.  Like if you've got 50 private variables that the user shouldn't be able to mess with, by all means don't expose them.  But what do you gain from hiding the browser event object?  How does hiding parts of it make the library better?

[2018-03-03 23:03] #161 closed

[2018-03-04 17:42] CarstenWickner commented on #191
First of all it's not "my library", just the guy who implemented the "connectMenu" PR (based on someone else's suggestion event) -- so I'm only expressing my personal opinion.

I'm with you on the topic of not needing to hide standard events. That being said, have you tried your suggested code snippet? Because the event reaching the `handleShow(e)` method is not actually a standard one but is bein

[2018-03-04 22:05] CarstenWickner commented on #191
Hi @machineghost,
I created a [proposal](https://github.com/vkbansal/react-contextmenu/compare/master...CarstenWickner:issue%23191) for exposing the target component (without anything else from the event for now).

But there should definitely be a meaningful example and possibly test for this.
I.e. I'm still open to review a pull request. 😉

[2018-03-05 06:57] PrinceIKhanna opened #197 "Issue of inner div."
The Problem i am facing is the menu is shown according to the position of inner div  while i am click on the outer div.

For eg. i clicked on the window position 221,219 (x,y) it takes the position from the inner div where i have put the contextmenu trigger. so the contextmenu comes quite below position then what is expected is it should come at the same point where clicked.

Even when i look at t

[2018-03-06 01:11] pouu69 opened #198 "target.dispatchEvent(event) in actions.js file will not fire."
## Version
2.9.2

## Test Case

## Steps to reproduce
At "IE 11"

1. When the first item is clicked, the next link is executed. ( on SimpleMenu example )
 Add the following code to the simplemenu file.
[code]

Clicking on the menuItem will download certain files locally. If you see a download popup, click Cancel.
And when you run the context menu again,

## Expected Behavior
the menu does show.
##

[2018-03-06 01:12] #195 closed

[2018-03-06 06:36] shift-keshav-pudaruth commented on #187
IE 10 is no longer officially supported.

https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support

[2018-03-06 06:47] #187 closed

[2018-03-06 13:03] #197 closed

[2018-03-07 06:18] pouu69 commented on #198
If i download the file link using location.href , i need to use an iframe.
only IE (all version include Edge)

plz help me.
I don't want to use iframe

[2018-03-07 07:17] PrinceIKhanna commented on #169
I have the same issue now, and it is not working. Menu item click is not working when wrapped inside another component.

[2018-03-07 17:26] machineghost commented on #191
Philosophically I still see no reason why you wouldn't just do:

    var originalEvent = theMouseDownEventThatTriggeredThings;

    // then pass originalEvent into dispatchGlobalEvent and do:
    event = new window.CustomEvent(eventName, { detail: opts, ... originalEvent });

    // or maybe (since I'm not sure the above will work)
    event = Object.assign(new window.CustomEvent(eventName, { deta

[2018-03-13 06:30] hybridwebdev opened #199 "Total Pile of junk...avoid at all costs."
Just making this as fair warning to those thinking about using this module...it doesn't work. Menu item click bind does nothing, meaning all this does is show a useless pop up menu that doesn't function. Followed provided examples to a tee, and onClick never fires...Thanks for wasting a few hours of my time creator. Hopefully this will save others the aggravation.

[2018-03-13 11:18] #199 closed

[2018-03-15 00:21] Snowcastle-Serenade commented on #147
Here's how I worked around this if it helps anyone:

1. Wrap `<ContextMenu>` with a div (let's call it `wrapper`)
2. Assign `wrapper`'s style to be `"position: fixed; top: -{parentTop}px; left: -{parentLeft}px;`
3. Set `<ContextMenu>`'s style to be `position: relative !important;`
4. Add `onShow={() => this.correctContextMenuPosition()}` to `<ContextMenu>`
5. In `correctContextMenuPosition()`:

[2018-03-15 10:38] AndySu0216 opened #200 "Why click on menu item which contains submenu will close whole context menu"
## Version
2.9.1

## Test Case
https://vkbansal.me/react-contextmenu/#/submenus

## Steps to reproduce
1. use the example submenu
2. click on "A SubMenu" item
3. whole context menu close

## Expected Behavior
keep context menu open
## Actual Behavior
close

this should work on version 2.8.0.

[2018-03-16 06:37] LiiXi commented on #200
I think this is due to https://github.com/vkbansal/react-contextmenu/pull/171/files#diff-fac7eaa4f7d20c1dfe49b85192280d69R174

[2018-03-18 05:00] #183 closed

[2018-03-19 09:57] #184 closed

[2018-03-20 06:11] hybridwebdev commented on #190
Can you not just fix this issue yourself, as you are the original dev? Expecting people to fix your plugin is just lazyness.

[2018-03-20 06:21] vkbansal commented on #190
@hybridwebdev What is your issue? Why are you so pessimistic?
I have a full time job and I maintain this package in my free time.
I ask people to open a PR, so that they can start contributing to open-source and not due to laziness.

[2018-03-20 06:21] hybridwebdev opened #202 "FAQ example showing how to manually handle click event does not work"
I don't expect i'll get a helpful reply from the dev, as based on other issues, he's been all but helpful to people but here goes...

As per your FAQ example showing how to manually handling menu trigger via a left click, the example only partially works. I can get the manual click handler to work just fine, howerver there doesn't seem to be a way to actually manually disable right click from trig

[2018-03-20 06:23] vkbansal commented on #202
Form what you are saying I understand that you want to disable right-click completely, right?

[2018-03-20 06:35] hybridwebdev commented on #202
yes

[2018-03-20 07:01] vkbansal commented on #202
This is a [context-menu](https://en.wikipedia.org/wiki/Context_menu) and by definition it is meant to be used on right-clicks only.

If you want to use menus on left click, there are other components that are more suitable than this component.

[2018-03-20 07:05] hybridwebdev commented on #202
That is the EXACT attitude I was talking about in my original post. If you're unwilling to help users with issues, why post a public github? Can you please address the original issue track, as it is in fact fully valid. As per another issue submitted, you have inconsistent documentation.

Also, telling someone to "use something else" when they've spent hours trying to work with your plugin is just

[2018-03-20 07:16] vkbansal commented on #202
I cannot control how the users of this plugin are using it. If someone is using it in a way which is the not intended by the author, then it's not my responsibility.

I did not ask you to use this plugin. It's you, who chose to use it.

[2018-03-20 07:21] hybridwebdev commented on #202
Why submit a public code base if you have no intention of supporting/maintaining it? That goes against the very nature of git hub. If you don't want to support it, you should probably make this repository private so others don't waste their time trying to get it to work. I'd wager that if you do professional development, you'd expect people NOT to waste your valuable time, so why do you think it's

[2018-03-20 07:34] vkbansal commented on #202
I've open sourced this more than 2 years ago and I cannot maintain it anymore because I do not have time and resources.

You have wrong understanding of GitHub then. It's meant for sharing code and not support-center for it.

 I've mentioned in the `README` that I'm looking for maintainers. That should have been a hint for you.

I agree that I do not want others to waste my time, but a part of bei

[2018-03-20 07:43] #202 closed

[2018-03-20 08:07] ankeetmaini commented on #199
@hybridwebdev instead of railing, could you open a PR to fix things? It shows more on your part than the repository's maintainer. Writing components is hard, please acknowledge and appreciate it.

You've no right to demand anything here, we do it in our own time and you're not paying for this. So please keep the harsh words to yourself. This is an **awesome** component, hands down.

Going by the u

[2018-03-20 09:05] hybridwebdev commented on #50
I wouldn't count on this being merged, as author seems hell bent on arguing with people as to why their needs are stupid/pointing out alternative options, rather than making ANY attempt to help people. I personally wasted a good chunk of my day trying to implement this feature based on his inaccurate documentation. I then filed an issue only to have him argue with me and then close the issue. Hone

[2018-03-20 09:12] vkbansal commented on #50
@hybridwebdev do you see any PR that I can merge? Where is the PR?

[2018-03-20 09:13] hybridwebdev commented on #50
It's YOUR software dude....how bout instead of expecting others to maintain it, you get off your butt and maybe work on HELPING people?

[2018-03-20 09:17] vkbansal commented on #50
It's OPEN SOURCE!

Form WIKI:
The open-source model is a decentralized software-development model that encourages open collaboration. A main principle of open-source software development is **peer production**, with products such as source code, blueprints, and documentation freely available to the public.

Also READ the [License](https://github.com/vkbansal/react-contextmenu/blob/master/LICENSE.m

[2018-03-20 15:00] machineghost commented on #190
@hybridwebdev Asking for a PR is pretty standard OSS etiquette (even for small fixes like this).

@vkbansal Unfortunately I'm a bit swamped ATM, but when I have some time I'll try and submit one.

[2018-03-20 15:09] ipanasenko opened #203 "Add ability to customize arrow in SubMenu"
Would be amazing to have ability to customize arrow in submenu with React component or node. Currently it's only possible to do with css

[2018-03-20 15:19] vkbansal commented on #190
@machineghost No issues. Take your time.

[2018-03-21 10:02] vkbansal commented on #203
What do you want achieve? Please give an example, so that I can help you.

[2018-03-21 10:08] ipanasenko commented on #203
We have a list of svg icons as react components, and would like to specify one of them as arrow. While it's technically possible to do `:after { content: url("path/to/icon.svg") }`, it doesn't seem ideal.

Do you think it's worth implementing?

[2018-03-21 10:11] vkbansal commented on #203
Have you tried using `title` prop on `SubMenu`? It accepts any React component.

[2018-03-21 20:32] ipanasenko commented on #203
Yes, title seems to work. Thanks!

[2018-03-21 20:32] #203 closed

[2018-03-25 17:08] #180 closed

[2018-03-26 12:42] WyntersAU opened #205 "Firefox Web-Extension, Context-Menu closing on enter"
## Version
v2.9.2

## Test Case
https://github.com/WyntersAU/rutorrent-remote/issues/2

## Steps to reproduce

1. Clone https://github.com/WyntersAU/rutorrent-remote/tree/rewrite
2. Install the dependencies
`npm init`
3. Build
`npm run build`
4. Add as developer extension in either Chrome or Firefox.
5. Right-click and enter the context menu.

## Expected Behavior
The context-menu stays open once

[2018-03-26 14:39] vkbansal commented on #205
@WyntersAU Thanks for reporting the issue.

I'm not well versed with building extensions for browsers and also I'm super busy with my job.

I'll try my best to solve this whenever I find some time. But any kind of help from you will be appreciated.

[2018-03-27 12:45] WyntersAU commented on #205
@vkbansal An update on the issue.

Upon adding a couple of `console.log`'s to "\es6\ContextMenu.js", I noticed `_this.handleShow` and `this.handleHide` are immediately both called, in aforementioned order. This behavior does not happen in Chrome or viewing the compiled webpack HTML in the browser.

Will update more soon.

[2018-03-27 12:55] WyntersAU commented on #205
@vkbansal I have identified the issue.

The problem is caused on [Line 89 of /src/ContextMenu.js](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L89) AND [Line 91 of /src/ContextMenu.js](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L91).

Once I fashion a proper resolution that does not break the functionality within each scenario I wil

[2018-03-27 12:55] #205 closed

[2018-03-30 06:23] #185 closed

[2018-04-04 11:26] Anandks1993 opened #206 "Context menu loses focus due to positioning."
## Version
2.9.2

## Test Case
![react-contextmenu](https://user-images.githubusercontent.com/26414695/38304945-b7bd7980-3828-11e8-8e8f-4a099e8aebe9.gif)

## Steps to reproduce
When we right click on the edges or furthermost right or bottom, context menu goes outside the area and the control over the context menu is affecting due to that.

## Expected Behavior
Adjust according to the position.

##

[2018-04-05 00:25] Alek-S commented on #192
PR opened.

[2018-04-05 00:28] #192 closed

[2018-04-05 00:32] vkbansal commented on #206
Can you share a reproducible demo?

[2018-04-05 03:41] Alek-S commented on #200
#204 resolved this. Can probably be closed out.

[2018-04-05 06:11] Anandks1993 commented on #206
@vkbansal
[code]

Above is the code which contains context menu code....The WellDetailsForm is the component I am using in context menu

[code]

CSS for canvas and context menu.
[code]

[2018-04-06 02:02] #200 closed

[2018-04-06 06:54] #186 closed

[2018-04-07 17:59] Alek-S commented on #190
@machineghost and @vkbansal

Created pull request #208 for this. If you could review that PR to confirm that's correct. Basically just a readme update.

[2018-04-08 02:48] #190 closed

[2018-04-09 18:04] schester44 commented on #196
This library doesn't come with any styling/css by default. Checkout the Styling section for more information and an example stylesheet. https://github.com/vkbansal/react-contextmenu/blob/master/docs/usage.md#styling

[2018-04-11 12:33] Anandks1993 commented on #206
Issue resolved when applied z-index to the context-menu.

[2018-04-11 12:33] #206 closed

[2018-04-17 19:56] vinch commented on #161
Hey @ronnyvdb, how did you fix this? I have the problem with 2.9.2 😢

[2018-04-23 11:16] #189 closed

[2018-04-25 08:57] tearsofphoenix opened #210 "Want to maintain the repository"

[2018-04-25 12:41] vkbansal commented on #210
Do you have any experience of maintaining any Open source projects?

[2018-04-26 02:27] vkbansal commented on #210
Good to hear about your professional career 👍
But I wanted to know about Open source contributions.

[2018-04-26 02:35] tearsofphoenix commented on #210
Not contributed much to widely known open source repositories, only some open source post-quantum cryptography project on github.

[2018-04-26 03:10] #210 closed

[2018-04-27 18:52] progitter opened #211 "Missing type definition for connectMenu"
The type definition file is missing type info the the connectMenu function. While the connectMenu is part of the module, it cannot be used in a typescript environment bacause of the missing type definition.

The module definition in index.d.ts

[code]
needs to include
[code]
at the minimum. We can specify a more robust type definition that will include props added by the connectMenu function if ne

[2018-04-29 03:02] #211 closed

[2018-05-13 07:40] #198 closed

[2018-05-13 18:12] #191 closed

[2018-05-16 23:50] mgummelt opened #214 "Why is "children" a required property of ContextMenuTrigger?"
https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L12

It doesn't seem like it should be.  I want to wrap a childless React component in the ContextMenuTrigger.

[2018-05-18 08:59] DanHarman commented on #60
It seems to trigger in the latest chrome when moving a scroll bar in a div wrapped by the trigger. Anyway not a big issue, will just disable.

[2018-05-23 02:15] vkbansal commented on #214
I guess that makes sense. Will you be willing to open a PR with the change?

[2018-05-23 19:22] lastlegion commented on #46
The menu shows up but hides as soon as I hover over any option. Any ideas?

[2018-05-24 18:42] terraswat commented on #99
@yotamberk I have this same issue and it only involves 30 items on a submenu. This is not very common in our app, however  it does occur and there is no way for the user to select some items on the list.

I played with overflowY: scroll on the submenu with no luck. A scrollbar area displays, but there is no handle to scroll with. It seems this functionality would be valuable in the master branch.

[2018-05-26 08:39] yotamberk commented on #99
With `overflowY: scroll` you must define the `height` property.
try defining `height: 200px` with `overflowY: true`.
That should do the trick

[2018-05-26 14:38] terraswat commented on #99
Yes, that did to the trick! Except the style needed to go in css because it needed to be applied to the .react-contextmenu between the submenu's .react-contextmenu-item and its list of .react-contextmenu-item children.

[2018-05-29 06:42] ashishyadav0019 opened #215 "How to close react-context menu on document scroll?"
Thanks for the awesome context menu.

I have opened the context menu on elements which are inside a scroll able **div**.
Now i want to close the context Menu when I scroll the **div**.
Please help
![demo](https://user-images.githubusercontent.com/31069071/40643068-7c2e5472-633c-11e8-9c9e-0c779c3838e3.gif)

[2018-05-29 08:05] vkbansal commented on #215
You can add a scroll listener on the element and call `hideMenu` from `react-contextmenu/lib/actions`

[2018-05-29 08:10] ashishyadav0019 commented on #215
Ok lemme try

[2018-05-29 08:19] ashishyadav0019 commented on #215
Thanks alot it worked

[2018-05-29 08:19] #215 closed

[2018-05-31 06:05] tdkn opened #216 "Attributes causes warnings"
## Version
2.9.2

## Steps to reproduce
[![Edit react-contextmenu-sample](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/6y2yv0471n)

## Expected Behavior
No warnings

## Actual Behavior
![image](https://user-images.githubusercontent.com/1296540/40763754-fdd7166c-64e0-11e8-8e60-160dad19584d.png)

## Notes
I think the problem is...
https://github.com/vkbansal/reac

[2018-05-31 21:22] vmarquet opened #217 "multiple target dynamic menu called once per item on single menu open and MenuItem onClick not called"
## Version
1.9.2

## Steps to reproduce / Actual Behavior

I know the title is not very clear, let me give an example: when I have 3 items, the function which creates the menu (the one given to `connectMenu`) is called 3 times when I right click on a single one of the items. Furthermore, the context menu properly shows up but the `onClick` handler of any of the `MenuItem` is never triggered.

I sp

[2018-05-31 21:29] vmarquet commented on #217
Also, I tried doing a jsfiddle with the issue to debug it but I could not succeed doing on because I didn't knew how to include this lib in a jsfiddle, since the only way to use it mentionned in the README is with yarn and import, and there is no dist folder in this repo.

You may want to include in the README the instructions to use this library from a single minified file (and what it the name o

[2018-06-04 02:30] codyparker commented on #193
I came across this issue today after adding in [react-virtualized](https://github.com/bvaughn/react-virtualized). I was able to fix it by using [react-portal](https://github.com/tajo/react-portal). I just wrapped my ContextMenu in the Portal component and the menu displayed in the correct position.

[code]

[2018-06-04 19:32] davidmgarrett opened #218 "Popup is triggering when horizontal scrolling to either end of an agGrid"
<ContextMenuTrigger id="gridContextMenu">
                <div style={{height: '500px'}} className="ag-fresh">
                    <AgGridReact
                        columnDefs={this.columnDefinitions}
                    />
                </div>
            </ContextMenuTrigger>
            <ContextMenu id="gridContextMenu">
                <MenuItem>
                    <Icon name="bolt"/>Per

[2018-06-05 01:47] kunokdev opened #219 "Feature request: add prop to disable `event.stopPropagation()` at ContextMenuTrigger 65"
`event.stopPropagation()` causes other libraries such as `react-easy-swipe`  to not work properly.

Would it make sense to add prop which disables this line?

https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L65

[2018-06-11 13:20] ashishyadav0019 commented on #218
It's because the popup get's triggered after longpress also.. M too facing same issue

[2018-06-11 13:33] davidmgarrett commented on #218
I resolved it by placing the agGrid outside the trigger and instead calling it directly:

class OrdersTable extends Component {

    cellContextMenu = (e) => {
        //prevent default behavior
        e.event.returnValue = false;
        this.showContextMenu(e.event);
    }

    registerContextMenuTrigger = (trigger) => {
        this.contextMenuTrigger = trigger;
    }

    showContextMenu = (e

[2018-06-13 04:26] Hughen opened #220 "This tool is too hard to not merge into my project!"
I wish this component can provide a more friendly, more advanced interface.
- `ContextMenuTrigger` expose `onShow` and `onHide` interfaces. I need to do the corresponding action in the context of `ContextMenuProvider` when these two events are triggered. Like this:
[code]

- If you do not want to add these two interfaces, then you can not filter out the `ContextMenu.onHide` `collection` passed ove

[2018-06-13 19:14] paulkaplan commented on #147
We had a similar issue trying to render a `ContextMenu` inside a parent that had a `transform: scale` on it. For anyone looking for a simpler solution, we just used `React.createPortal` [docs](https://reactjs.org/docs/portals.html) to place the context menu at the end of the body, which works because it is `position: fixed` anyway.

[2018-06-18 07:44] rolandgnm commented on #161
I'm also having the same issue. I have a single MenuItem that is rendered but is not triggered.

[2018-06-19 23:44] jeffkillian commented on #70
If you want to bring it up with left click, one work around is to set the `holdToDisplay` prop to `. As long as they don't click within 1ms (unlikely), it triggers when left clicking as well.

[2018-06-20 15:44] terraswat opened #224 "submenu children difficult to navigate into"
## Version
1.9.1

## Test Case
Use any menu with a submenu.

## Steps to reproduce
Open any menu with a submenu and move the mouse from the submenu item on the main menu to the first child of the submenu. In doing this a few times, occasionally the menu disappears.

## Expected Behavior
The mousing path between the submenu item on the main menu and the submenu's first child  would be wider, so the

[2018-06-21 08:24] owcc opened #225 "dynamic MenuItem"
Good component first!
how can I dynamic set visible or clickable of each menu items? perhaps `ContextMenuTrigger` should receive a function children with data which use to set item's state? something like this
[code]
or there are some other way I missed to get this?

[2018-07-03 14:32] BramscoChill opened #226 "get the element from where the context menu was opened?"
I was wondering if it is possible to get the element from where you open the menu from (right click on), after clicking an MenuItem. I am using thing context menu in an treeview and need the origional target element.

I could not find this in the documentation. Am I missing somthing or is this not build in?

[2018-07-05 07:29] vijaypushkin commented on #161
The problem occurs only when there are two context-menus sharing the same ID. When unique IDs are used they will be working

[2018-07-17 01:50] daniellizik commented on #226
Typically it's considered an antipattern to send a ref outside the scope of a react component. See [this answer](https://stackoverflow.com/a/38864091/4769440) for more details.

That said, you can do this with plain React using `this.refs.<ref>`, it's not really specific to this package. However, I think the documentation could be improved upon since the method of passing props from `ContextMenuTr

[2018-07-17 02:09] daniellizik commented on #226
@BramscoChill doesn't seem like something that needs to be implemented in this package. You'd probably have to use `setState` to cache the current clicked element, then pass it to a connected menu.

[code]

I didn't test that, if the click bubbling doesn't work I'd use `mouseOver` to set state instead.

[2018-07-17 02:14] daniellizik commented on #225
@owcc You can do this with the current api using `connectedMenu` to pass some props to the menu

[2018-07-23 06:18] akash247 opened #229 "Context menu is opened at wrong position on bootstrap modal pop-up"
Whenever a context menu is opened on a bootstrap modal, the top and left position of the context menu is wrongly calculated and it takes the modal's left as 0 instead of windows position.

Check this link : https://drive.google.com/open?id=1FBXiVFwN2QPMaxbhnmoMvMigiUlY9wMs

[2018-07-25 08:40] muwednesday opened #232 "Add a contextmenu in Google Map Drawing Polygon"
Hello, I have learning on Google Map APIs and want to add a a contextmenu in drawing polygons using React. Since the polygon does not exist utill user finish drawing it, I don't know how to handle this problem, I would appricate if you could help me.
I need to bind a rightclick event in Google Map DrawingManager's onPolygonComplete event, in this funtion:
[code]

[2018-07-25 08:43] muwednesday opened #233 "Add a contextMenu on Google Map Polygon"
Hello, I have learning on Google Map APIs and want to add a contextmenu in drawing polygons using React. Since the polygon does not exist utill user finish drawing it, I don't know how to handle this problem, I would appricate if you could help me.
I need to bind a rightclick event in Google Map DrawingManager's onPolygonComplete event, in this funtion:
[code]

[2018-07-25 11:38] #232 closed

[2018-07-26 11:12] M4G1C3LF opened #234 "TouchStart/TouchEnd doesn't work properly when reaches "holdToDisplay""
## Version
1.9.1

## Test Case
The touchStart / touchEnd events seems to impact with the MouseDown / MouseUp event. (Maybe it doesn't impact with anything, but is the feeling that I have)

I'm using this package and trying to run it into a Microsoft Surface Pro (Win10 with a touch screen) and an Android Smartphone, the Context Menu appears displaced to down (depending the content of the page it ap

[2018-07-29 03:41] #214 closed

[2018-08-03 12:00] Grisu118 opened #236 "index.d.ts missing in npm package"
## Version
2.9.3

## Steps to reproduce
install version 2.9.3

## Expected Behavior
index.d.ts is in downloaded package

## Actual Behavior
index.d.ts is *not* in downloaded package. Because the file is in the src directory which is not included in the file's section of package.json file.

[2018-08-06 03:45] wmhilton commented on #236
When you stopped including the `src` directory in the npm package, you broke the package for TypeScript users. 😭

[2018-08-06 22:19] #217 closed

[2018-08-07 10:12] candronikos opened #237 "Only allow context menu show when 'showMenu' is called not just on right click"
Not sure if it's documented and I just missed it but I want to use another event handler to show the menu so I can control what areas of the page the menu pops up.

## Steps to reproduce
I tried setting `disabled` to `true` in the `ContextMenuTrigger` but the menu doesn't show at all even when calling `showMenu`.

## Expected Behavior
For the context menu to not appear unless `showMenu` is called.

[2018-08-11 02:27] #219 closed

[2018-08-14 17:39] travisdahl commented on #129
I don't know how useful that nested example is in a real use case. You may not have the context of the child item to perform an action on if that is a nested component.. example:

[code]

When i try to do something like this, I get both menus. I could potentially stop propagation myself if I had access to the original event but it seems the original event is not available via `onShow`.

[2018-08-17 14:43] #218 closed

[2018-08-19 05:14] #220 closed

[2018-08-26 16:47] #224 closed

[2018-09-14 15:12] Khyzz commented on #216
Any news on this ?
I've got the same problem and I feel bad having so much red in the console 🤔

[2018-09-20 13:54] rolandgnm commented on #184
![image](https://user-images.githubusercontent.com/819527/45822585-2401a400-bd2f-11e8-9c52-87a7323febe9.png)
Guys, I've seen the runtime always enter this if statement regardless of index apparently be greater than zero. I'd like reopen this issue so someone can have a look at this. Thanks a lot!

[2018-09-21 16:52] akash247 commented on #229
This issue is fixed with the pull request #231

[2018-09-21 16:52] #229 closed

[2018-09-22 02:53] #226 closed

[2018-09-22 02:53] #225 closed

[2018-09-30 10:16] #233 closed

[2018-10-01 12:28] #234 closed

[2018-10-05 16:08] wmhilton commented on #236
Bad robot!

[2018-10-05 16:12] wmhilton commented on #236
I made a PR to fix this: #238

[2018-10-10 03:53] wmhilton commented on #236
🎉

[2018-10-11 09:31] Zaynex opened #239 "Unknown error, the style.opacity doesn't change"
## Version
1.9.1

## Hard to reproduce
It's hard to reproduce, but in my project.
The outsideClick works but the menu still visible on the screen.

![image](https://user-images.githubusercontent.com/13745971/46794078-abb06080-cd79-11e8-8b9b-4f55dbe64698.png)
![image](https://user-images.githubusercontent.com/13745971/46794081-ae12ba80-cd79-11e8-9114-2c77c7d1a78b.png)
![image](https://user-images.g

[2018-10-12 15:00] carlosfpo opened #240 "Ctrl key modifier should open native context menu"
## Version
1.9.1

## Test Case
https://jsfiddle.net/Luktwrdm/54/

## Steps to reproduce
Press right click on the trigger with ctrl key pressed

## Expected Behavior
Open the native context menu instead of our custom context menu

## Actual Behavior
Opens the custom component content menu

[2018-10-13 11:33] #237 closed

[2018-10-18 02:39] Emeroj commented on #109
@valentinvichnal I'm having the same exact issue with https://github.com/RubaXa/Sortable.

Did you find a solution to this?

[2018-10-18 05:59] valentinvichnal commented on #109
@Emeroj Unfortunately not, I stopped using the two together.

[2018-10-30 05:16] vkbansal commented on #240
You are welcome to open a PR with the proposed change

[2018-11-08 15:50] danfooo opened #244 "RTL prop is unreleased"
Hi there,

after merging #241 two weeks ago, there weren't any releases of `react-contextmenu`. Could you publish one?

Thanks!!

[2018-11-09 04:29] vkbansal commented on #244
Sorry for the delay. published v2.10.0

[2018-11-09 04:29] #244 closed

[2018-11-09 09:13] danfooo commented on #244
Great, thank you!

[2018-11-16 14:21] sambokai opened #246 "Allow ContextMenuTrigger id prop to be of type number"
I was surprised to see that ContextMenuTrigger wants a string for its unique id prop. I think it should also, if not only, allow numbers.

[2018-11-20 10:07] vkbansal commented on #246
The TypeScript definitions was provided by a contributor. I do not have any idea why this decision was made.

You can open a pull-request with the required change?

[2018-11-20 15:04] sambokai commented on #246
It's not the typescript but the propTypes:
https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L11

They were [added by you ](https://github.com/vkbansal/react-contextmenu/commit/12752e2d6be868c67a83923f97416eef64675074#diff-8c52c6cf66a1c629f586678b831921a2).

I opened the issue for discussion, before writing a change, since this is a design decision.

[2018-11-20 15:06] vkbansal commented on #246
Oh. Sorry for the confusion. Yeah number can also be used for id.

You are welcome to open a PR.

On Tue 20 Nov, 2018, 8:34 PM Sam Bokai <notifications@github.com wrote:

[2018-11-21 15:48] sambokai commented on #246
I'm busy right now, but will keep it in my mind for when i have a few hours. Let's keep the issue open, in case someone else wants to do this.

You could label this issue as beginner friendly to attract devs.

[2018-11-26 11:52] nfvs commented on #246
What's the motivation for allowing numeric IDs? DOM element IDs are always strings, so this seems like a weird request.

https://developer.mozilla.org/en-US/docs/Web/API/Element/id

[2018-11-27 14:53] sambokai commented on #246
I'm more used to numeric ids, but you're raising a good argument.

[2018-11-27 14:53] #246 closed

[2018-11-30 05:39] wootencl commented on #191
After reading through this issue + discussion a few times I think there may have been a bit of a disconnect on what @machineghost was requesting and what @CarstenWickner had in mind. Please correct me if I'm wrong though.

I _believe_ the request was around wanting access to the event that triggered the context menu opening (the one seen [here](https://github.com/vkbansal/react-contextmenu/blob/ma

[2018-12-04 10:23] dholakiyaankit opened #249 "Prevent deselection of selected text when click on the menu item."
## Version
1.9.1

## Steps to reproduce

So, I have been using the context-menu from many months now, I am using it at different places getting success with each and everything, Now, I have one common context-menu for entire website consists of undo,redo, cut,copy, paste.

This is my menu
[code]

This is trigger when clicked on the menu item

[code]

The real problem is now, when user selects any

[2018-12-06 12:56] dholakiyaankit commented on #249
@vkbansal Can you please check this?

[2018-12-06 13:13] vkbansal commented on #249
I can't sorry. I'm on Vacation.

On Thu 6 Dec, 2018, 6:26 PM ankit <notifications@github.com wrote:

[2018-12-06 13:16] dholakiyaankit commented on #249
@vkbansal can you guide me who can help me to find out where is the problem?

[2018-12-09 20:58] machineghost commented on #191
Philosophically I object to my tools hiding information from me that I would otherwise have if I wasn't using the tool.  It feels ... patronizing.

Practically, the use case that spawned this ticket could have been solved with just the `target`, so that would certainly be an improvement.

[2018-12-11 07:44] #239 closed

[2018-12-15 03:32] lonelydatum opened #251 "styling. How to force the menu to stay open"
I'd like to style the menu using chrome devtools to inspect but find it difficult to do since it disappears when I click it. Is there a way to force the menu to appear without right click. For example it would be nice to pass a property like forceToDisplay={true}

<ContextMenu forceToDisplay={true} id="some_unique_identifier">
					<MenuItem data={{foo: 'bar'}} onClick={this._handleClick.bind(this

[2018-12-30 17:17] AntonVoltchok commented on #249
@dholakiyaankit could you store the selected text in your components state? In the click handler, have it first save the text to state and then have the menu open:
Then when the user clicks the menu option copy, you can pass text stored in state -
[code]

[2019-01-06 15:46] #240 closed

[2019-01-14 20:47] astegmaier opened #252 "Context menu does not close when clicking outside in a project that sets state in raw DOM click handlers."
First of all, I wanted to say thank you for building and maintaining such a useful component! It's saved me a ton of time, and I'd love to help address the bug below, although I'm not 100% sure the right approach.

## Version
2.9.2

## Test Case
https://jsfiddle.net/astegmaier/2c6hyqe8/

## Steps to reproduce
1. Build a project where `ContextMenu` is the child of some larger, state-based component

[2019-01-14 20:58] astegmaier commented on #252
I think the root cause of the issue is in the `ComponentDidUpdate` method of `ContextMenu`. It looks like updates to transition from `hidden => visible` are actually triggered on a timeout ([lines 59-73](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenu.js#L59-L73)), whereas updates to transition from `visible => hidden` ([lines 75-77](https://github.com/vkbansal/react-cont

[2019-01-17 16:39] lonelydatum commented on #251
Thank you

[2019-01-22 16:51] FruitAndAShape commented on #215
This worked for me...

`import { hideMenu } from "react-contextmenu"`

[2019-01-24 15:04] FruitAndAShape opened #253 "How to add CSS class to menu item."
Regarding the menu items, it says...

How does one do this? For example, I want to set a menu item to disabled when the menu is opened based on the attributes.

[2019-01-24 16:49] FruitAndAShape commented on #253
oh, connectMenu!

[2019-01-24 16:49] #253 closed

[2019-01-28 07:10] wavemelody opened #254 "The contextmenu pop up automatically when the left mouse button was clicked last more than 2 seconds"
## Version
2.10.0

when the left mouse button is pressed for about 2 seconds, the contextmenu will pop up automatically, wheather the configuration is supported to cancel this feature?

[2019-01-28 07:11] wavemelody commented on #254
modify the issue title

[2019-01-30 09:56] vkbansal commented on #254
This is expected side-effect for handling touch-inputs.

Please see `holdToDisplay` prop in [API docs](https://github.com/vkbansal/react-contextmenu/blob/master/docs/api.md#contextmenutrigger-)

[2019-01-30 09:56] #254 closed

[2019-01-31 08:21] amithrajklm opened #255 "Cant use ContextMenuTrigger in rows of React Virtualized Table"
[https://bvaughn.github.io/react-virtualized/#/components/Table](url)
any way to show Context menu without using the trigger?

[2019-01-31 11:34] vkbansal commented on #255
https://vkbansal.github.io/react-contextmenu/#/customization

https://github.com/vkbansal/react-contextmenu/blob/master/examples/Customization.js

[2019-01-31 11:46] amithrajklm commented on #255
`    render() {
        let data = [{a:1,b:1},{a:2,b:2},{a:3,b:3}]
        return (
            <div>
                <ContextMenuTrigger id="some_unique_identifier" renderTag='Grid.Column' >
                    <Table data={data} onRowRightClick={this.handleRowRightClick} onRowDoubleClick={this.handleRowDoubleClick} >
                        <Column

                            label="A"

[2019-02-06 16:26] timothyjellison commented on #255
@amithrajklm Have you tried using the Column's cellRenderer prop? Something like `cellRenderer={cellData => <ContextMenuTrigger id="some_unique_identifier" >{cellData}</ContextMenuTrigger>}` might do the trick.

[2019-02-20 23:15] ryanchau opened #258 "Submenu within a submenu interaction with overflow: hidden"
Hi, I have a submenu filled with menuitems that are submenus. In the overarching submenu, sometimes the menuitems get to be a lot, so I've applied overflow-y: auto. This results in strange behavior where the second submenu renders in the original submenu div, and you need to scroll horizontally to reach it. Is there a recommended way of getting the second submenu to appear organically, like it wou

[2019-02-21 05:38] vkbansal commented on #258
Can you attach some images for reference?

[2019-02-21 17:41] ryanchau commented on #258
Sorry! here's a jsfiddle to see what I mean:

[https://jsfiddle.net/3sbh0zw8/](https://jsfiddle.net/3sbh0zw8/)

[2019-02-24 11:55] Simon-Laux opened #259 "Programatic way for opening the context menu?"
## Expected Behavior
Information about a `show()` function I can call to open the menu without a `ContextMenuTrigger` component
## Actual Behavior
No documented information about this use case.

[2019-02-25 06:15] vkbansal commented on #259
Yeah I know its not documented.

You can have at #133

[2019-02-25 06:20] vkbansal commented on #258
Probably [this](https://css-tricks.com/popping-hidden-overflow/) might help you

[2019-03-07 17:38] #249 closed

[2019-03-11 20:08] AzStafford opened #260 "ContextMenuTrigger.handleContextClick() calls event.preventDefault() without checking event.cancelable"
## Version
2.10.0

Hello.  I found an issue within ContextMenuTrigger.handleContextClick().

Specifically, this function calls event.preventDefault() without checking the event.cancelable value.

This can result in messages such as the following in Chrome when viewing in mobile debugger:
_[Intervention] Ignored attempt to cancel a touchstart event with cancelable=false, for example because scrolli

[2019-03-12 17:15] ayushnawani commented on #129
@travisdahl  how did you solved it ?.  I am also facing this same issue.

[2019-03-13 21:20] travisdahl commented on #129
@ayushnawani I ended up writing my own contextMenu component. No longer using this project

[2019-03-14 14:45] wendymungovan commented on #252
I'm also having this issue.  Is there a workaround?

[2019-03-15 05:29] vkbansal commented on #252
@astegmaier Sorry for the late reply!.

I believe that this solution will work. Please feel free to open a PR with the suggested change.

[2019-03-15 05:53] astegmaier commented on #252
I think I worked around this by modifying the click handler to the parent component to call `setState` after a timeout. This cause `ContextMenu` to handle the outside click (and hide itself) _before_ it has to handle the state change caused by the parent component, so when it handles the second state change, it already knows that it should be hidden.

So where the parent component's click handler

[2019-03-15 05:53] astegmaier commented on #252
@vkbansal - thanks for taking a look! I'll take a look at making a PR this weekend.

[2019-03-20 23:44] the-realtom opened #263 "Access ContextMenu's DOM node from a parent component"
For things like controlling focus, selection, getting size/position etc. we need a reference to the DOM node of ContextMenu.

## Version
1.9.2

## Test Case
1. The trigger element is right-clicked which causes the context menu to open. The trigger element has now gained focus.
2. When an item in the context menu is clicked (specifically the mousedown event), the trigger element will lose focus.
3.

[2019-03-25 04:25] #251 closed

[2019-03-28 15:16] ronaiza-cardoso opened #265 "Dropdowm Menu"
There's a way of set the location of the menu?

[2019-03-29 06:04] #259 closed

[2019-03-29 06:05] vkbansal commented on #265
You can have a look at #133

[2019-03-29 10:37] ronaiza-cardoso commented on #265
Thanks!

[2019-03-29 13:45] ronaiza-cardoso opened #266 "showMenu position Y has unknown calc"
## Version
`react-contextmenu@2.11.0`

## Test Case
https://codesandbox.io/s/koq7nypjlo?fontsize=14

## Steps to reproduce
[code]

## Expected Behavior
the `y` value reproduce the value that is sent to `showMenu` function

## Actual Behavior
some unknow calc is made with the `y` value

[2019-04-01 05:53] vkbansal commented on #266
Why are you writing your custom logic for calculating the position of menu?

You must just pass the position of click event.

[2019-04-01 05:53] #266 closed

[2019-04-09 15:33] wojiaofengzhongzhuifeng opened #268 "can i manually control contextmenu show?"

[2019-04-09 22:11] gorork commented on #268
@wojiaofengzhongzhuifeng Are you looking for this: https://github.com/vkbansal/react-contextmenu/issues/87?

[2019-04-14 19:38] #255 closed

[2019-04-15 01:39] Chagui- opened #269 "SubMenu title type"
## Version
2.11.0

## Test Case
Examples have submenu title accepting a string, but the type is declared as ReactElement<any>, so it gives an error and doesn't compile.

## Steps to reproduce
Examples use title as this:
`<SubMenu title="this is not working">
`
## Expected Behavior
`<SubMenu title="this should work">`

## Actual Behavior
`<SubMenu title={<a>this is how its working right now</a>}>`

[2019-04-15 10:15] vkbansal commented on #269
Is this an issue with TS definitions?

[2019-04-16 13:52] Chagui- commented on #269
Yes, this is for typescript.

[2019-04-23 08:48] trannamquan opened #270 "Typescript compile error when add a prop in ContextMenuTrigger"
## Version
2.11.0

## Test Case

## Steps to reproduce
When add a new prop in ContextMenuTrigger, an error in compiling typescript occurs:
For eg,

`<ContextMenuTrigger
id={ID}
name ={'Test'}
collect={collectProps}
...`

I add a prop **name** in ContextMenuTrigger, when compiling the code, this message occurs:
 `TS2322: Type '{ children: never[]; id: string; name: string; collect: (props: any) =>

[2019-04-24 11:33] gencer opened #271 "Uncaught TypeError: Cannot convert undefined or null to object (on production)"
## Version
2.11.0

## Steps to reproduce
Use this codebase:

[code]

## Expected Behavior

Everything is fine on development environment. However, when I compile my packs to production-ready environment (`NODE_ENV=production`), react-contextmenu gives an error on startup.

## Actual Behavior

[code]

**connectMenu.js:81**:

[code]

Using TypeScript.

Also my console full of errors (in development)

[2019-05-02 20:46] mgummelt opened #272 "ContextMenuTrigger emits a propType warning when used with react-redux"
The problem is that ContextMenuTrigger is checking to ensure `renderTag` is a `node` or a `function`: https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L19, when it should instead be using the `isValidElementType` function from `react-is`.  See `react-router` for an example: https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/Ro

[2019-05-03 07:03] #258 closed

[2019-05-03 13:31] mgummelt commented on #254
Except the docs say that `holdToDisplay` is only relevant for touch screens, which is incorrect.

[2019-05-07 11:10] romadenysyuk commented on #252
@astegmaier, @vkbansal.

The other solution could be just recheck the menu visibility inside the deferred wrapper:
[code]

[2019-05-14 08:28] Osama081 opened #274 "While Dragging Component it ContextMenu got Triggered itself"
## Version
1.9.1
i am using react-dnd for managing drag and drop in my project and i am using context menu also but when dragging starts  context menu got triggered dont know why ...
here what happening.
![gg](https://user-images.githubusercontent.com/30257978/57682884-172e1980-764c-11e9-8b17-67395da076fe.gif)

[2019-05-14 10:32] vkbansal commented on #274
have your tried `holdToDisplay` value as `-1`?

[2019-05-14 11:19] Osama081 commented on #274
Thanks It worked

[2019-05-14 11:19] #274 closed

[2019-05-16 06:51] jerry-satpathy420 commented on #161
I am having the same issue. Onclick on menuitem is not  working

[2019-05-17 22:18] #260 closed

[2019-05-22 00:14] mgummelt opened #275 "Feature Request: access contextmenu event in MenuItem onclick"
There doesn't seem to be any means of accessing the location of the right-click in the MenuItem onClick handlers.  For my app, I need to know where the user right-clicked so I can insert a DOM element in that location.  Without visibility into the contextmenu event, I must resort to storing this data in redux, which is unfortunate since it's temporary, local data.

Thanks!

[2019-05-26 19:47] FruitAndAShape opened #276 "Only appears on second right click"
My menu only appears the second time I right click on the an item. Why might this be?

I can console log the menu when it's returned from the function that creates it but the first time round it doesn't appear.

[2019-05-27 01:01] #263 closed

[2019-05-27 08:35] vkbansal commented on #276
Please share a reproducible code example

[2019-05-27 15:20] FruitAndAShape commented on #276
I was returning null from the factory function when there were zero options.

[2019-05-27 15:20] #276 closed

[2019-06-04 11:46] #265 closed

[2019-06-07 01:22] mgummelt opened #279 "Feature Request: Support a variable set of MenuItems"
I need to display different MenuItems depending on what element is right-clicked on.  These items are determined programmatically, so I can't solve this by having multiple different ContextMenus.  If the onShow handler in ContextMenu were to accept data passed in from collect, perhaps that would allow me to re-construct the MenuItems list based on that data.

Thanks!

[2019-06-12 06:13] patilrevansidh opened #281 "MenuItem Click not get fired."
Click event does not fire.
I'm using this library, I have touch screen laptop.
`onClick` event not get trigger when click using mouse. But using touch screen it gets triggered. Can you suggest any workaround
Hardware: Touchscreen

[2019-06-15 23:05] #268 closed

[2019-06-17 05:53] B4BIPIN commented on #161
I am facing the same problem and not able to solve it.
[code]

[2019-06-18 21:11] DaleSalcedo commented on #281
I'm having the same issue except i cannot trigger the onClick on PC or anything at all

[code]

[2019-06-22 15:03] #269 closed

[2019-06-24 09:15] conmute commented on #281
Having same issues after couple of re-renders (on init works well though…)

[2019-06-24 09:30] vkbansal commented on #281
Which version are you using? If you are using `2.11.0`, please try `2.10.0`

[2019-06-27 14:31] KirillSuhodolov commented on #281
at 2.10.0 click does not fire too

[2019-06-29 13:53] #270 closed

[2019-06-30 13:03] #271 closed

[2019-07-03 05:58] perry-mitchell commented on #281
2.10.0 also doesn't work for me. Using Ubuntu on a PC, latest chrome.

[2019-07-04 08:12] vkbansal commented on #281
I unable to reproduce the issue
https://codesandbox.io/s/spring-feather-xdsbr

If you can provide an example that would be helpful

[2019-07-08 12:44] meetajhu commented on #271
Did you fix it?

[2019-07-08 21:42] #272 closed

[2019-07-09 17:24] meetajhu opened #284 "TypeError: can't convert undefined to object - connectMenu.js:81. Only in production env"
## Version
v2.11.0

## Test Case
[code]

## Steps to reproduce
Take Webpack build with `NODENV=Production` and run the react app. Browser console shows error in `connectMenu.js:81 TypeError: can't convert undefined to object` . Development environment works fine.

## Expected Behavior

Not sure if Babel related error. But app should run in Production build.

## Actual Behavior

Everything is fine

[2019-07-10 07:45] meetajhu commented on #284
Fixed issue by excluding node_modules From Being Transpiled By Babel-Loader. If your using Webpacker for Rails add this line
`environment.loaders.delete('nodeModules')`
to
`config/webpack/environment.js`
which should look like
[code]

[2019-07-10 07:46] #284 closed

[2019-07-12 02:54] heinz-leung commented on #281
After I given a **unique** id for **each** ContextMenu and ContextMenuTrigger, the problem solved.
I think this issue is caused by multiple ContextMenu with the same ID appear in the same page.

[2019-07-13 12:37] #252 closed

[2019-07-18 08:47] eyelly-wu commented on #271
**same problem**

**this is ContextMenuTrigger's props config**
![image](https://user-images.githubusercontent.com/24505069/61442501-56455780-a97a-11e9-9720-c6cc207de695.png)
**After packaging,defaultProps is OK, but propTypes can't find**

![image](https://user-images.githubusercontent.com/24505069/61442801-e08dbb80-a97a-11e9-9fc5-6e7ef7670504.png)

[2019-07-18 10:19] eyelly-wu commented on #284
@meetajhu How to solve the problem without using Webpacker for Rails

[2019-07-18 10:38] meetajhu commented on #284
in your webpack.config.js add "exclude: /(node_modules)/" under your babel-loader settings

`
//webpack.config.js

module: {
    rules: [
      {
        test: /\.(js|jsx)$/,
        exclude: /(node_modules)/,
        loader: 'babel-loader'
      }
]
}
`

[2019-07-19 06:04] eyelly-wu commented on #284
@meetajhu I found some other solutions

**1. change the react-contextmenu's package.json**
from
![image](https://user-images.githubusercontent.com/24505069/61511586-c959d700-aa29-11e9-871f-e72ba0a6adb6.png)
to
![image](https://user-images.githubusercontent.com/24505069/61511300-d2967400-aa28-11e9-802e-22deac49aabd.png)

**2.  delete "module": "es6/index.js" of the react-contextmenu's package.json*

[2019-07-24 12:49] jblazevicClover commented on #281
niceee. Thanks maan! :)

[2019-07-25 03:36] #281 closed

[2019-07-27 09:09] snokier commented on #270
+1

[2019-07-28 01:14] #275 closed

[2019-07-31 07:50] rSensation commented on #279
You can achieve that using connectMenu.

[2019-07-31 07:56] rSensation opened #286 "Ability to avoid some subscriptions to document events."
Is it possible to opt out of some subscriptions in registerHandlers method of ContextMenu. It would be great to have more control over it with props, just to add flexibility in some tricky use cases.

[2019-07-31 15:01] vkbansal commented on #286
Can you provide some examples?

[2019-07-31 22:21] rSensation commented on #286
For example, I had an issue with "contextmenu" subscription. For some reason, the menu was not opening in my app on Android because long touch would lead to "contextmenu" event (I assume it was being fired by 3rd party grid component I was using), which by default hides menu. I ended up fixing it with a hack, but it would be nice to have flexibility in such cases.

[2019-08-05 05:22] vkbansal commented on #286
Can you open a PR with your proposed fix?

[2019-08-09 04:37] #286 closed

[2019-08-11 15:54] AdenFlorian opened #288 "Prevent SubMenu from closing on mouse leave"
It's too easy IMO to accidentally close a sub menu by accidentally moving your mouse off of it. I use the `hideOnLeave` prop on the `ContextMenu`, and that works great, but it only affects the base menu, and not any sub menus.
Assuming that is working as intended, I propose adding the same prop to the `SubMenu` component, and have it function in the same way.

Thanks for considering!

## Version
2

[2019-08-12 16:46] vkbansal commented on #288
So you want to have `hideOnLeave` option on `<Submenu />`?

[2019-08-12 22:16] AdenFlorian commented on #288
Yes please! I can take a shot at a PR if you want.

[2019-08-13 01:45] vkbansal commented on #288
A PR is always welcome

[2019-08-20 10:09] Hybueno09 commented on #276
@FruitAndAShape    How do u solve it ,I have the same problem

[2019-08-20 12:09] FruitAndAShape commented on #276
@Hybueno09 It was happening because sometimes there are no items to show and I wanted to hide the menu altogether, so I returned null. Always returning the menu stops this behaviour, although now it's sometimes showing an empty menu.

[2019-08-22 16:40] peterlevel1 opened #290 "hi, I wanna be maintainer of this awesome project"
I would be glab to hear from your message !

## Version
1.9.1

## Test Case
https://jsfiddle.net/Luktwrdm/54/

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2019-08-22 18:46] dharkness commented on #279
@rSensation Can you even use `<ContextMenu>` without `connectMenu()`?

@mgummelt I'm doing this in combination with a `<ReactTable>`. The main component places the table inside the `<ContextMenuTrigger>` and uses a reference to track the row that was clicked and pass it to the menu.
[code]
The `<CommandMenu>` component then builds the menu items based on the current value of the reference passed t

[2019-08-27 13:33] AndySu0216 opened #292 "SyntheticEvent warning when ContextMenuTrigger props.collect is a promise"
Hi,

When the ContextMenuTrigger props.collect is an promise, I got the following warning.

[code]
This should be thrown at https://github.com/vkbansal/react-contextmenu/blob/20667791413b234ad089a7a1ccad0d94469401f1/src/ContextMenuTrigger.js#L136

How can I fix this error?

Thanks!

## Version
2.9.3

[2019-08-29 12:57] wuppious opened #293 "In MenuItem, don't override className prop, but extend it"
Currently, you can give `MenuItem` classNames through the `attributes` prop. These are then applied to the element, but also overriding any className given as a direct prop. https://github.com/vkbansal/react-contextmenu/blob/22d299e986367e81bcde575b4abeffdb9ace0a5c/src/MenuItem.js#L56-L65

The reason why this might be problematic, is that some css-in-js libraries such as `styled-components` apply

[2019-08-29 13:09] wuppious commented on #293
Meanwhile, a workaround is to wrap the `MenuItem` into a functional component and apply the generated className to the attributes.

[code]

[2019-08-30 02:04] vkbansal commented on #293
Good catch!. This library was written when CSS-in-JS libraries were not a thing.

Now that they are a thing, it should be taken care of. Will you be willing to submit a PR?

[2019-08-30 10:36] wuppious commented on #293
I can have a look during the weekend.

[2019-09-01 12:11] wuppious commented on #293
@vkbansal PR is done, however it fails due to Code Climate config error. I don't believe I can affect that, so please check into it.

[2019-09-01 12:28] vkbansal commented on #293
No issues. I'll take care of it

On Sun, Sep 1, 2019, 5:41 PM Nico Nysten <notifications@github.com> wrote:

[2019-09-03 05:54] #293 closed

[2019-09-04 13:10] rSensation commented on #279
@dharkness yes, you can.

connectMenu was added specifically to pass props from a trigger to the menu, as far as I know. So to avoid passing and resetting refs, as in your example, you can just use 'collect' prop for ContextMenuTrigger to choose which props should be passed, and 'trigger' prop for ContextMenu to access those props.

[2019-09-04 21:22] arokiadianagene commented on #161
Pls check if the context menu id is unique, if you have used the contectmenu id in someother component

[2019-09-05 19:50] dharkness commented on #279
@rSensation I thought `connectMenu()` was needed to connect the trigger to the menu since they are sibling components. I'll have to try it without as I feel my context menu code is overly complicated.

[2019-09-21 23:19] Galkon commented on #288
@AdenFlorian this was one of my biggest frustrations - but with the entire menu. I've just created a PR for a new prop for `ContextMenu` called `hideOnLeaveDelay`, you can check it out here: https://github.com/vkbansal/react-contextmenu/pull/295

[2019-10-23 09:02] akrueger90 commented on #203
Hey, I tried to pass a React Component as title. The component is displayed (text and glyph), but the default arrow is still visibile, is there a supported way to hide this?

title component
`<React.Fragment>
            <Typography>{label}</Typography>
            <ListItemIcon>
                <Glyphicon glyph="chevron-right" />
            </ListItemIcon>
        </React.Fragment>;`

rendered:

[2019-10-24 12:55] ipanasenko opened #296 "Any releases expected soon?"
Hi. I see a lot of changes being pushed to master since last commit, and it would be really awesome to see them released. At least I'm looking forward to `preventCloseOnClick` for `SubMenu` component.

Any ETA? Thank you for great work

[2019-10-24 18:25] vkbansal commented on #296
I'll try to make a release soon.

[2019-10-25 04:53] vkbansal commented on #296
Done

[2019-10-25 04:53] #296 closed

[2019-10-28 15:50] ipanasenko opened #297 "ContextMenu v2.12.0 doesn't close on click outside"
Demo: https://codesandbox.io/s/jolly-bash-etjjh

Works fine with v2.11.0

[2019-10-28 18:06] #290 closed

[2019-10-29 07:02] #297 closed

[2019-10-29 07:03] vkbansal commented on #297
published v2.13 with the fix

[2019-10-29 13:44] strangecamelcaselogin opened #298 "Issue with hot reload"
## Version
2.13.0

## Test Case
https://github.com/strangecamelcaselogin/react-contextmenu-with-hot-reload-issue

## Steps to reproduce
Enable hot reload ([react-hot-loader](https://github.com/gaearon/react-hot-loader)) in my case with `react-app-rewired` and `react-app-rewire-hot-loader`.

## Expected Behavior
- Each `MenuItem` should have a hover effect
- Selected item changes with arrow keys

#

[2019-10-30 07:12] vkbansal commented on #298
Would you be able to submit a PR with a fix? I haven't used hot-reloading in a while.

[2019-10-30 11:52] ashlanderr commented on #298
As a workaround, you can make the component cold, so it will be ignored by hot-loader:

[code]

[2019-10-30 17:33] strangecamelcaselogin commented on #298
I don't know. Problem is - AbstractMenu should be unaware of hot reload and be capable to check type of children's elements not by reference.

I will try to fix this over next weekend

[2019-11-02 15:29] #292 closed

[2019-11-05 12:55] glebpl opened #300 "Wrong prop type for renderTag property of ContextMenuTrigger"
renderTag of ContextMenuTrigger now has type
[code]
But it should have type PropTypes.elementType which allows native html tags and any custom components.

## Version
2.13.0

## Steps to reproduce
1. Create custom function component MyComponent.
2. Pass it as renderTag to ContextMenuTrigger

## Expected Behavior
Check of prop types should pass

## Actual Behavior
Check of prop types fails (Failed

[2019-11-06 01:36] vkbansal commented on #300
Will you open a PR with the fix?

[2019-11-06 09:26] glebpl commented on #300
I can, but never did it before)) Should I become a contributor to create a new branch and than a PR?

[2019-11-07 02:42] vkbansal commented on #300
You can follow the intruction mention in the post
https://codeburst.io/a-step-by-step-guide-to-making-your-first-github-contribution-5302260a2940

[2019-11-07 11:14] glebpl commented on #300
Thank you for the article. I suppose to make a PR tomorrow

[2019-11-10 16:11] robinjohnhopkins commented on #82
@yeze322 thanks - obvious now I see the answer!

[2019-11-11 21:26] #279 closed

[2019-11-14 08:44] #300 closed

[2019-11-18 11:56] gFaro opened #302 "Does not work well for chrome 77 and 78(and Safari 13)"
I noticed react-contextmenu stopped working for me. I tried it in mozilla and it still works fine.

Not working on...
Google chrome version: 77/78.
Safari version: 13.03

react-contextmenu version: 2.13.0 (also didin't work on 2.11.0)

Note: I noticed that if I remove holdToDisplay={-1} then it works perfectly in mozilla but in chrome and safari it hides behind the native context menu.

The error

[2019-11-19 06:27] vkbansal commented on #302
The sandbox is working fine for me

[code]

Can you provide more details about OS and browser?

[2019-11-21 15:23] gFaro commented on #302
My browser is Chrome version 78.0.3904.97.

OS is MAC OS MOJAVE
version 10.14.6

Apologies for the delayed response.

[2019-11-27 09:32] coderliush opened #304 "Maybe there is a mistake in the usage example"
Here is the code "onClick={this.handleClick}" In the usage.md. Is this should be "onClick={handleClick}" ?

[2019-11-28 02:40] #288 closed

[2019-12-03 18:30] ads692 opened #305 "Disabling right clicks"
Hi I just started using this context menu and fits my work case. Thank you!

Just checking if there's a way to KEEP the long left clicks and DISABLE the right clicks instead? I want the right click to still trigger the operating system's context menu by default.

[2019-12-04 02:02] coderliush commented on #305
@ads692  ContextMenuTrigger has a prop 'disable'，i think you can set it to false by default and set it to true in the right clicks。It works for me，you can try it

[2019-12-04 23:23] ads692 commented on #305
Thanks @coderliush . I was able to map the 'disable' prop to a boolean value and utilize it to enable/disable my right click functionality. Works like a charm :)

[2019-12-04 23:23] #305 closed

[2019-12-12 13:03] peerjollux commented on #302
I'm having the same issue. When use right click it works, but when using ctrl+click it shows the native contextmenu.

**My details:**
[code]

[2019-12-12 13:35] peerjollux commented on #302
I found what is causing the issue, it's because of the change in this commit:
https://github.com/vkbansal/react-contextmenu/commit/2220024e1f41457ee0f4c4114d989daa9b0d8d23#diff-8c52c6cf66a1c629f586678b831921a2

Because of this commit, it will only listen to mouse button clicks from Button 2.

I switched back to V2.10.0 as a temporary solution.

[2019-12-16 12:32] ivailop7 opened #308 "Menu doesn’t dismiss on click when it contains a submenu"
Great plugin! Keep up the great work. I’ve noticed a small bug. That looks very similar to https://github.com/vkbansal/react-contextmenu/issues/297 but it pertains to a menu having a submenu.

## Version
2.13

## Test Case
Don’t have one sorry.

## Steps to reproduce
Have a menu containing an item and a submenu with items.

## Expected Behavior
Dismiss the menu with the displayed submenu upon clic

[2019-12-18 19:46] ads692 opened #309 "onClick for menuItem doesn't work with mouse clicks"

[2019-12-18 21:21] #309 closed

[2019-12-30 03:12] #304 closed

[2020-01-02 17:13] ads692 opened #311 "Option to detect context menu coordinates"
Hi, I wanted to check if there's a way to detect the context menu's cooridinate values for left and top based on the container it is placed in? Right now it seems to be calculating it only from the top layer window's values.

[2020-01-03 05:41] vkbansal commented on #311
You can do this:
[code]

You can also pass a custom class and use that instead

[2020-01-03 05:41] #311 closed

[2020-01-05 18:12] #298 closed

[2020-01-08 21:50] ivailop7 commented on #308
The issue is not present in 2.10, only in 2.13

[2020-01-09 07:32] vkbansal commented on #308
Thanks for reporting. I'll take a look at this when I have time.

Meanwhile if you are able to find the fix, feel free to open a PR with the fix.

[2020-01-20 18:14] mgummelt commented on #279
It'd be nice if `connectMenu` were documented.

[2020-02-04 18:19] ericklind opened #312 "mouseButton prop set to 0 (left click) doesn't work"
## Version
1.9.1

## Test Case
https://jsfiddle.net/s3gmqna2/5/

## Steps to reproduce
Left click the box.

## Expected Behavior
The context menu should open

## Actual Behavior
Nothing from left click.
Right Click opens menu,

[2020-02-05 20:17] rastalamm opened #313 "onMouseLeave isn't firing for MenuItems"
## Version
2.13.0

## Test Case
https://codesandbox.io/s/busy-vaughan-yys36?fontsize=14&hidenavigation=1&theme=dark

## Steps to reproduce
- Open chrome debugger/console
- Right click text to display context menu
- Move mouse over the menu item

## Expected Behavior
The `onMouseLeave` method to fire.

## Actual Behavior
Nothing is happening when mouse leaves the menu item.

[2020-02-12 16:23] dayongi opened #315 "it can be used with the Table component ?"
I would like to know if it can be used with the Table component, I have this requirement now
like this example：
![image](https://user-images.githubusercontent.com/41787764/74354879-f5d6a580-4df6-11ea-9900-32e512ffc3e2.png)

[2020-02-13 05:52] vkbansal commented on #315
Yes . it can be.  https://github.com/adazzle/react-data-grid/ uses this

You can also take a look at `renderTag` prop
https://github.com/vkbansal/react-contextmenu/blob/master/docs/api.md#contextmenutrigger-

[2020-02-13 05:52] #315 closed

[2020-02-17 14:22] #302 closed

[2020-02-23 15:36] dayongi opened #316 "DId not work? why?"
I use the component in my project, but  it didn't seem to be working? why?
it's a example:
![image](https://user-images.githubusercontent.com/41787764/75114935-4078dd00-5695-11ea-948a-dd57fdcf921d.png)

[2020-02-23 15:57] #316 closed

[2020-02-23 15:57] dayongi commented on #316
I was careless

[2020-03-03 21:19] rootid opened #317 "Use of renderTag in case of Custom react element"
Is it possible to use renderTag with Custom react element that accepts different props and actions?
Can someone share sample?

[2020-03-04 20:58] rootid commented on #214
@mgummelt : is your custom component accept PropTypes?

[2020-03-16 23:51] #308 closed

[2020-03-22 09:35] nowrinmohamed opened #319 "Support for opening context menu using keyboard contextmenu and Shift+F10 button"
****
only right click opens context menu. There is no support for keyboard accessibility like shift+F10 or context menu button in keyboard. using handleContextClick() doesnt work as expected.

**## Version**
 2.13

## Steps to reproduce

- Add handleContextClick() whenever oncontextmenu is triggered (in my case contextmenu button in keyboard)

- use keyboard context menu button to open context men

[2020-03-23 18:20] vkbansal commented on #319
Hi @nowrinmohamed you are welcome to open a PR with the enhancement.

[2020-03-30 20:38] Slapbox opened #320 "[Feature] Prevent context click from changing document.activeElement"
It would be great to avoid taking focus when the user right clicks the `<ContextMenuTrigger />`

I know this is probably impossible to achieve with the longpress action, but it would great if it were the case for right clicks.

[2020-03-30 20:50] robert8888 opened #321 "Prevent menu to show up after fire dragStart."
## Actual Behavior

When dragStart is fired menu shows up after value setted to holdToDisplay. Yes you can set holdToDisplay on -1 but still is not desire behavior.

Best

[2020-03-31 09:08] vkbansal commented on #321
This is intended behaviour. Changing this will make it stop working on touch screen devices.

[2020-03-31 09:09] vkbansal commented on #320
Can you open a PR with the intended changes?

[2020-03-31 20:04] Slapbox commented on #320
Not sure I'll ever find the time, but knowing that you're open to the PR I will at least try to. Thanks for your response!

[2020-04-02 11:21] koutsenko opened #323 "<ContextMenuTrigger> without creating additional <div>"
Can we attach trigger to already existing DOM element?

[2020-04-03 04:52] vkbansal commented on #323
Sorry. This is not supported in the current version.

[2020-04-08 04:31] manoharreddyporeddy commented on #320
@vkbansal @Slapbox

Expected - For example, right click on this text, and select copy -- the initially selected text remains selected in the browser.

Actual - When i right click on text where 'react-contextmenu' is activated, and selecting an option from the context menu, my initial selection is lost.

- How can this be enabled, via an option to 'react-contextmenu'?
- Or, which code files to edit

[2020-04-08 20:18] Kryptiique commented on #323
Are there any plans to add this as a feature? I just had to do a hotfix/workaround for a <tr> context menu by simply extracting some of the code from the `ContextTrigger` and the global event dispatcher... but it would be nice if there were some sort of bind function that allows you to apply this directly to components or DOMs

[2020-04-08 20:45] Slapbox commented on #320
@manoharreddyporeddy I believe `event.preventDefault()` is needed in here https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L38-L49

Preventing the focus from changing should be pretty easy, but will prevent users from using `holdToDisplay ` to open the menu.

[2020-04-09 03:56] vkbansal commented on #323
I might add this feature in next major release.

[2020-04-09 09:58] manoharreddyporeddy commented on #320
Thanks for reply @Slapbox
@vkbansal

A - scenario
I actually have to select multi word text, and select a context menu option
for the same selection again, I have to select another context menu option
Now, this is not possible if previous selection is not persistent.

B. May be bug?
holdToDisplay is already set to -1
However, this issue remains.
May be event.preventDefault() should already be appl

[2020-04-09 10:04] vkbansal commented on #320
For building you can just `npm run build`

see https://github.com/vkbansal/react-contextmenu/blob/master/package.json#L28

[2020-04-09 19:52] Slapbox commented on #320
@manoharreddyporeddy, `event.preventDefault()` _**in `onMouseDown`**_ handler _should_ prevent your text area from losing both focus and the current selection. If it's not, then some other logic is changing the element focus.

For testing's sake, what happens if you add `event.preventDefault()` [here](https://github.com/vkbansal/react-contextmenu/blob/master/src/ContextMenuTrigger.js#L39), _before

[2020-04-10 07:11] manoharreddyporeddy commented on #320
@Slapbox @vkbansal

Thanks for trying to help.

`npm run build` dint create the dist directroy
`npm run build:dist` did create directory, but to use `react-contextmenu.js` I had to add `	/* eslint-disable */` at the begin of the file

Then already added above lines in various places in the same function.
After the suggestion give above was made, I was not able to select the text at all, which i di

[2020-04-10 21:26] Slapbox commented on #320
@manoharreddyporeddy I spent probably a bit over an  hour reviewing the available context menus for React. I'd strongly recommend focusing on solving the issue on this library rather than writing an entire new library. The solution _should_ be pretty much as simple as `event.preventDefault()` in the right spot.

Did you try the two troubleshooting tips I suggested above? If you let me know the out

[2020-04-11 01:12] manoharreddyporeddy commented on #320
@Slapbox

I already answered your questions:

Thanks for reply on unable to give advice on from scratch.

 @vkbansal

[2020-04-11 01:45] Slapbox commented on #320
@manoharreddyporeddy can you visually demonstrate what you're trying to achieve? I'm starting to question whether I understand properly.

Regarding how to make a context menu on your own, start with PopperJS or React-Popper (based on PopperJS).

[2020-04-11 02:39] vkbansal commented on #320
@manoharreddyporeddy I, like you, have a full-time job, family and responsibilities. I'm sorry that I was not able to help you. If you are not happy with this project, please go ahead and use some other project.

You must understand that 90% of such open-source projects are maintained by single person team, who take out some time from their free/family time to help others.

Here are some links for

[2020-04-11 03:07] manoharreddyporeddy commented on #320
@Slapbox

I have previously give the scenario already:

That means,
I have some text - that is wrapped in this libray
* I select for example, 3 words
when I right click, on the selected text, a context menu appears
when i select an option in the context menu - the selection made previous (* above) disappears
That should not happen because, the I should be able to right click and get context menu -

[2020-04-11 03:11] manoharreddyporeddy commented on #320
@vkbansal

It is obvious that open source is like that - single or some more person jobs
so I did not expect immediate action from you
but expected, at least you would hear & learn your user's problems
I did not expect a reply like the you did now
because it did not help recover my (your library's users) lost time, your kind of reply only added a bit of strain now on already strained user.

[2020-04-11 19:49] #312 closed

[2020-04-11 23:17] Slapbox commented on #320
@manoharreddyporeddy obviously English is not your first language. Your responses seem kind of rude. I'm sure you're stressed out, but when people try to help you, and when you are not a native speaker, you should not fault the reader for not understanding. I did ask a question, as soon as you wrote something that gave me reason to think I didn't understand.

I'm going to assume though that you do

[2020-04-12 15:23] vkbansal commented on #320
@manoharreddyporeddy I think I did not say anything wrong here. I just pointed you to alternatives if this library is not a good solution for a problem.

[2020-04-12 21:02] #313 closed

[2020-04-21 00:00] yifax opened #324 "Possible reason for no background color display in Electron?"
## Version
1.9.1

## Test Case
I just tried the example demo code, using it in an electron project. Maybe this is the problem?

## Steps to reproduce
![2020-04-20 165800](https://user-images.githubusercontent.com/14918900/79810614-4bb05800-8328-11ea-8c60-5983ef111292.png)

## Expected Behavior
Menu Style displays correctly.

## Actual Behavior
No background, border, just text.

[2020-04-21 05:50] vkbansal commented on #324
This library does not apply any styling expect for display and positioning. You need to style it yourself.

https://github.com/vkbansal/react-contextmenu/blob/master/docs/usage.md#styling

[2020-04-21 05:50] #324 closed

[2020-04-30 10:00] Vadym-Kyrylenko commented on #252
I understand that the problem has not yet been resolved?
![2020_04_30_12_55_40_490](https://user-images.githubusercontent.com/34131434/80698004-7fd30800-8ae2-11ea-928d-368d599245af.gif)

[2020-05-05 07:08] deser opened #325 "Can I use bootstrap compatible menu?"

[2020-05-06 06:51] vkbansal commented on #325
You can use it by passing appropriate classNames or by [extending ](https://sass-lang.com/documentation/at-rules/extend) bootstrap classes

[2020-05-06 06:51] #325 closed

[2020-05-08 07:57] sanu3191 opened #326 "Left arrow key is not working in submenu"
## Version
1.9.1

## Test Case

## Access context menu by keyboard up down left right arrows. Go to a submenu , try to press left arrow.

## It should come to main menu and submenu should be invisible

## It got stuck in sub menu itself . I tried to check the reason, So in abstractMenu.js hideMenu function itself is not there.

[2020-05-10 02:40] #317 closed

[2020-05-13 08:16] syan1992 opened #327 "Menu appear when I click left button."
I push left button more than 3 seconds and then the menu appeared.

[2020-05-13 08:22] vkbansal commented on #327
see `holdToDisplay` in [docs](https://github.com/vkbansal/react-contextmenu/blob/master/docs/api.md#contextmenutrigger-)

[2020-05-13 08:22] #327 closed

[2020-05-15 02:47] soubhikchatterjee opened #328 "Menu Appear behind scrollbar"
When i use the context menu on a div that has overflow: scroll, the menu appears behind the scrollbar. Is there anyway to appear over the scrollbar?

![image](https://user-images.githubusercontent.com/863672/82005889-34912b80-9684-11ea-9825-95528c474a01.png)

## Version
2.13.0

## Steps to reproduce
Create a div
specify a widh and height
add some content to that the div shows scrolling
try to righ

[2020-05-18 13:09] volodymyrlytvyn commented on #323
Kryptiique, Could you please share how you did a workaround
I am also tryib to use this menu with material-ui table (TableRow), but adding ContextMenuTrigger breaks the table. It is not breaken if I use renderTag='tr' but I need TableRow as I have logic related to it

[2020-05-18 16:05] Kryptiique commented on #323
@volodymyrlytvyn I'm not sure about your specific case, but here's what I did for my workaround. Please note this solution isn't very extensible and I just used it for a single component. In my row component I added a modified version of `handleContextClick()`:
[code]
Then I copied this code from `react-contextmenu/actions.js` and modified it a bit:
[code]

[2020-05-19 18:44] Slapbox opened #329 "Feature Request - Display the context menu using a React portal"
I think this library is currently not being developed, but I wanted to put this out there in case it resumes development. The option to display the menu using a portal would be great!

[2020-05-20 09:12] vkbansal commented on #329
Thanks for your contribution!

Yes I'm unable to find time to work on this, and yes this one of the changes I'm looking to make for next major release (if and when it happens).

[2020-05-25 14:25] nogenem commented on #329
I just ran into this problem and i used the following class to help me:
[code]

Then you can use it like this:
[code]

And, of course, you have to add the following tag in the .html, below the root div:
[code]

[2020-05-25 14:48] soubhikchatterjee commented on #328
@vkbansal Please can you help me with the above query?

[2020-05-26 04:45] vkbansal commented on #328
@soubhikchatterjee This issue appears to be a CSS issue and not to do anything with the library itself.

Have you tried playing with the `z-index` of the menu?

[2020-05-30 07:44] #319 closed

[2020-06-02 08:03] robert8888 commented on #321
Ok. I get this point of view, but still i suppose that you can catch drag start / drag end on the root (eg. body) element  (it is bubbling in most case) and then don't show menu during dragging.

Best.

[2020-06-03 11:01] vkbansal commented on #321
I'm not too familiar with how things work on touch devices. Can you share a code sample of what you are proposing? Even better if you code provide a PR.

[2020-06-04 11:27] goldsolace opened #330 "Type declarations out of date"
Can you please update the npm package types

Types such are disableIfShiftIsPressed on ContextMenuTriggerProps while updated in the source are not updated in the live package.

[2020-06-05 15:26] MattNot opened #331 "Have to click two time to dismiss"
## Version
2.13.0
## Test Case
Not have
## Steps to reproduce
I've an Ace editor as Trigger.
When i click with right button it appears, if I click on the editor with left button i've to click 2 times to make the context menu disapear
## Expected Behavior
Disappear in a clik
## Actual Behavior

[2020-06-06 10:42] vkbansal commented on #331
This issue appears to be with ace editor itself and not this library. This will happen when some element blocks event bubbling by using `event.stopPropagation()`

[2020-06-06 10:42] #331 closed

[2020-06-08 10:34] Ladvace opened #332 "Prevent context menu from going outside the page"
usually when you right click on the edge of the page the menu mirror itself preventing from going outside the page but sometiems it doesn't work, especially on the height (right clicking on the bottom of the page). Is there anyway maybe to tage the position where you right click in order to decide when i can make it mirror?

[2020-06-13 00:08] Slapbox commented on #320
Not stale. @vkbansal is there a way to prevent stalebot from `wontfix`ing this?

[2020-06-13 02:09] vkbansal commented on #320
I'll into removing stalebot.

[2020-06-28 17:54] sanu3191 commented on #326
@vkbansal  Raised a PR for this fix.

[2020-07-03 09:21] barbalex commented on #284
These "solutions" are not easy to implement in every situation. I tried both and they did not work for me. I had to revert to copying the `react-contextmenu.js`-file created in the dist folder after building into my project. Very hacky.

And my case will not be rare: It seems that this problem occurs when this lib is used in gatsby (my case). Which is quite popular.

So I feel that this issue shou

[2020-07-03 09:23] barbalex commented on #284
@eyelly-wu I have to admit I do not completely understand your solution. Do you think this could be converted into a pull request? Hoping it would be accepted?

[2020-07-05 13:18] hungdev commented on #281
in my case, set css for MenuItem `height: 100%;`

[code]

[code]

[2020-07-05 13:38] hungdev commented on #281
@heinz-leung thanks bro :)

[2020-07-07 05:44] pzi commented on #326
Fixed in #333

[2020-07-07 05:49] #326 closed

[2020-07-10 05:34] o0void0o commented on #47
im getting the same issue on 2.14.0 holdToDisplay={-1} did not solve this for me?... Im dragging  a list item and the menu pops up while dragging..

[2020-07-13 09:41] nkemcels opened #335 "SubMenu custom right arrow icon."
Thanks for creating this amazing library. You guys are awesome.

Please is it possible to change the right arrow that is shown for the `SubMenu` component?
I'd want to use a `fontawesome` chevron icon.

![CHANGE ICON](https://user-images.githubusercontent.com/40471180/87289918-3432d680-c4f5-11ea-98c0-92748392a533.png)

[2020-07-15 04:59] vkbansal commented on #335
You can do it by using your custom css.

[2020-07-15 11:14] nkemcels commented on #335
Hi @vkbansal
Thanks for your response.
Please is it possible for you to do some sort of an example of how to achieve it? Thanks

[2020-07-21 10:09] kiradea opened #337 "onClick No Response"
## Version
1.9.1

## Test Case
https://jsfiddle.net/Luktwrdm/54/

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2020-07-22 04:39] vkbansal commented on #335
You can refer to https://codepen.io/egf/pen/jzylw

Or you can use stackoverflow or google.

I'm closing this ticket as this is not related the library and is a CSS question.

[2020-07-22 04:39] #335 closed

[2020-07-22 04:43] #337 closed

[2020-08-05 05:57] jazevedo620 commented on #284
Why is this issue closed? The same bug appears for me in Gatsby

[2020-08-07 21:01] stevenkkim commented on #284
This bug is also appearing for me in Gatsby.

[2020-08-11 04:32] vkbansal opened #339 "Project is no longer maintained"
I started this project a long time ago when react was new and there weren't many components like this out there.

I'm really glad and thankful to the community that they liked this project and I was able to help them in solving their issues.

I'm no longer using this project and and it's becoming difficult for me to maintain this project and hence I've decided to archive this project. Starting tod

[2020-08-11 04:33] vkbansal commented on #332
closing issue see #339

[2020-08-11 04:33] #332 closed

[2020-08-11 04:33] vkbansal commented on #330
closing issue see #339

[2020-08-11 04:33] #330 closed

[2020-08-11 04:33] vkbansal commented on #329
closing issue see #339

[2020-08-11 04:33] #329 closed

[2020-08-11 04:34] vkbansal commented on #328
closing issue see #339

[2020-08-11 04:34] #328 closed

[2020-08-11 04:34] vkbansal commented on #323
closing issue see #339

[2020-08-11 04:34] #323 closed

[2020-08-11 04:34] vkbansal commented on #321
closing issue see #339

[2020-08-11 04:34] #321 closed